<nb-card class="Card141 card141">
  <nb-card-header>
    <div class="space Space531 space531" >
      <h5 class="Heading11 heading11 text-undefined text-alignment-left text-transform-none">Student Details</h5>
      <div class="space Space17112 space17112" >
        <nb-icon class="Icon26 icon26" nbTooltip="Download" icon="download"></nb-icon>
        <nb-icon class="Icon27 icon27" nbTooltip="Settings" icon="settings-2-outline"></nb-icon>
        <nb-icon class="Icon28 icon28" nbTooltip="Sync" icon="sync-outline"></nb-icon>
        <nb-icon class="Icon29 icon29" icon="more-vertical"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space631 space631" >
      
    </div>
  </nb-card-body>
</nb-card>