:host {

  width: calc(25% - 4px);
  height: auto;
  margin: 0 4px 0 0;
  display: block;
  
  .icon25 {
    font-size: var(--icon-giant-size);
    color: var(--text-alternate-color);
  }
    
  .space304 {
    height: 76px;
    width: 30%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: cover;
    background-image: url('/assets/images/BG4.jpg');
  }
    
  .space30131 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 8px 0;
    overflow: visible;
    display: none;
    background-color: unset;
    background-size: auto;
  }
    
  .heading10 {
    font-size: 26px;
    line-height: initial;
    margin: 0 0 8px 0;
    color: var(--text-basic-color);
  }
    
  .text30 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space3013 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space3123 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .card1123 {
    width: 100%;
    height: 100%;
    margin: 0 4px 0 0;
    
    > nb-card-header {
      padding: 0;
    }
    
    > nb-card-body {
      padding: 0;
    }
    
    > nb-card-footer {
      padding: 0;
    }
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  @media (max-width: 768px) {
    .space304 {
      height: 76px;
      flex-grow: 1;
      flex-basis: 0;
    }
    
    .space3013 {
      height: auto;
      min-height: 2rem;
      width: 66.66666666666667%;
    }width: 50%;
    height: auto;
    margin: 0 0 4px 0;
    flex-grow: 0;
  }
    
  @media (max-width: 480px) {
    .space304 {
      height: 76px;
      flex-grow: 1;
      flex-basis: 0;
    }
    
    .space3013 {
      height: auto;
      min-height: 2rem;
      width: 66.66666666666667%;
      margin: 0;
    }
    
    .space3123 {
      height: 76px;
      flex-grow: 1;
      flex-basis: 0;
    }width: 50%;
    height: auto;
    flex-grow: 0;
  }
    
  @media (max-width: 320px) {
    .icon25 {
      display: none;
    }
    
    .space304 {
      display: none;
    }
    
    .space30131 {
      height: 4px;
      width: 100%;
      margin: 0;
      display: flex;
      background-color: var(--color-danger-default);
      background-size: auto;
      background-image: none;
    }
    
    .heading10 {
      margin: 8px 0 0 0;
    }
    
    .text30 {
      margin: 0;
    }
    
    .space3013 {
      height: auto;
      min-height: 2rem;
      width: 83.33333333333333%;
      margin: 4px 0 0 0;
    }
    
    .space3123 {
      height: 76px;
      flex-grow: 1;
      flex-basis: 0;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: center;
    }width: 50%;
    height: auto;
    flex-grow: 0;
    
    .card1123 {
      background-color: var(--background-basic-color-1);
      background-size: auto;
      background-image: none;
    }
  }
  
}