<nb-card class="Card1123 card1123">
  <nb-card-body>
    <div class="space Space3123 space3123" >
      <div class="space Space304 space304" >
        <nb-icon class="Icon25 icon25 giant" icon="checkmark"></nb-icon>
      </div>
      <div class="space Space30131 space30131" >
        
      </div>
      <div class="space Space3013 space3013" >
        <h4 class="Heading10 heading10 text-undefined text-alignment-left text-transform-none">2</h4>
        <p class="Text30 text30 text-undefined text-alignment-left text-transform-none paragraph">Homeworks</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>