<nb-card class="Card221 card221">
  <nb-card-header>
    <div class="space Space1441 space1441" >
      <div class="space Space17121 space17121" >
        <div class="space Space1731121 space1731121" >
          <h6 class="Heading411 heading411 text-undefined text-alignment-left text-transform-none">All Students</h6>
        </div>
        <div class="space Space17121121 space17121121" >
          <input nbInput class="Input341 input341 size-xl-small" placeholder="Search" type="text" shape="rectangle" uiValueUpdate="Input341" status="basic" [ngModel]="value">
          <div class="space Space661 space661" >
            <nb-icon class="Icon1311 icon1311" icon="download-outline"></nb-icon>
            <nb-icon class="Icon1321 icon1321" icon="settings-2-outline"></nb-icon>
            <nb-icon class="Icon1331 icon1331" icon="sync-outline"></nb-icon>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space1521 space1521" >
      <app-table121></app-table121>
    </div>
  </nb-card-body>
</nb-card>