<div class="space Space61221111 space61221111" >
  <div class="space Space3112211111 space3112211111" >
    <img class="Image91 image91" src="./assets/images/Logo horizontal splash white@2x2.svg">
  </div>
  <div class="space Space211211111 space211211111" >
    <div class="space Space511221111 space511221111" >
      <h5 class="Heading26 heading26 text-undefined text-alignment-left text-transform-none">Forgot you password?</h5>
      <div class="space Space91111111 space91111111" >
        <p class="Text142 text142 text-undefined text-alignment-left text-transform-none paragraph">Enter the email you’ve registered with. We’ll send you the instructions there.</p>
      </div>
      <label class="Text140 text140 text-undefined text-alignment-left text-transform-none label">Email</label>
      <input nbInput class="Input29 input29 size-xl-medium" placeholder="Your email" type="email" shape="rectangle" uiValueUpdate="Input29" status="basic" [ngModel]="value">
      <button nbButton class="Button17 button17 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Reset Password</span>
      </button>
      <div class="space Space411221111 space411221111" >
        <p class="Text141 text141 text-undefined text-alignment-left text-transform-none paragraph">Go back to the</p>
        <a [routerLink]="url" class="Link1 link1 text-undefined text-alignment-left text-transform-none text-decoration-underline">Login page</a>
      </div>
    </div>
  </div>
</div>