:host {

  width: 100%;
  height: auto;
  margin: 8px 0;
  display: block;
  
  .heading34 {
    font-size: 18px;
    line-height: initial;
    margin: 0;
    color: var(--text-basic-color);
  }
    
  .space510 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .image17 {
    width: 120px;
    height: 120px;
    border-radius: 50px;
    object-fit: fill;
  }
    
  .space94 {
    height: auto;
    min-height: 2rem;
    width: 58.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon810 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text1471 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space913 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon851 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text1481 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space541 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon861 {
    margin: 0;
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text1491 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space554 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon871 {
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text1501 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space563 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space84 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .heading44 {
    font-size: 18px;
    line-height: initial;
    margin: 0 0 16px 0;
    color: var(--text-basic-color);
  }
    
  .text3110 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38813 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text3210 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381713 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111713 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text3310 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space382213 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text3410 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3811213 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221111213 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text3510 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space383213 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text3610 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3812213 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221112213 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text3710 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space384213 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text3810 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3813213 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221113213 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text3910 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space385213 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text407 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3814213 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221114213 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text411 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space386813 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text421 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3815813 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221115813 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text431 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3861213 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text441 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38151213 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text471 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3862213 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text481 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38152213 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text491 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3863213 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text501 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38153213 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text511 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3864213 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text521 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38154213 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text531 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3865213 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text541 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38155213 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text551 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3866313 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text561 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38156313 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211156313 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211155213 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211154213 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211153213 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211152213 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211151213 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text451 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38661213 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text461 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381561213 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111561213 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1021213 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space813 {
    height: auto;
    min-height: 2rem;
    width: 66.66666666666667%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space73 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space67 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .card15 {
    width: 100%;
    height: 100%;
    margin: 8px 0;
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  @media (max-width: 1024px) {
    .image17 {
      width: 120px;
      height: 120px;
    }
    
    .icon810 {
      margin: 0 4px 0 0;
    }
    
    .space554 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      align-items: flex-start;
      align-content: flex-start;
    }
    
    .text1501 {
      margin: 0 0 0 8px;
    }
    
    .space563 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      align-items: flex-start;
      align-content: flex-start;
      padding: 8px 8px 8px 0;
    }
    
    .space84 {
      height: auto;
      min-height: 2rem;
      width: 33.333333333333336%;
    }
    
    .text461 {
      margin: 8px 8px 8px 0;
    }
    
    .space381561213 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
    }
    
    .space813 {
      height: auto;
      min-height: 2rem;
      width: 66.66666666666667%;
      margin: 0;
    }
  }
    
  @media (max-width: 768px) {
    .image17 {
      width: 80px;
      height: 80px;
    }
    
    .space94 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space563 {
      margin: 0 0 16px 0;
    }
    
    .space84 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space813 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }width: 100%;
    height: auto;
    margin: 8px 0;
    flex-grow: 0;
  }
    
  @media (max-width: 480px) {
    .image17 {
      width: 80px;
      height: 80px;
    }
    
    .space84 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      margin: 0 0 16px 0;
    }
    
    .space813 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
    
  @media (max-width: 320px) {
    .image17 {
      width: 80px;
      height: 80px;
    }
    
    .space94 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space563 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      margin: 0 0 16px 0;
    }
    
    .space84 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space381561213 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      flex-direction: column;
      padding: 0 0 0 8px;
    }
    
    .space122111561213 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space813 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
  
}