<nb-card class="Card15 card15">
  <nb-card-header>
    <div class="space Space510 space510" >
      <h6 class="Heading34 heading34 text-undefined text-alignment-left text-transform-none">My Information</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space67 space67" >
      <div class="space Space73 space73" >
        <div class="space Space84 space84" >
          <div class="space Space94 space94" >
            <img class="Image17 image17" src="./assets/images/ezgif.com-gif-maker (6)4.jpg">
          </div>
          <div class="space Space913 space913" >
            <nb-icon class="Icon810 icon810" icon="edit"></nb-icon>
            <span class="Text1471 text1471 text-undefined text-alignment-left text-transform-none subtitle-2">Edit </span>
          </div>
          <div class="space Space541 space541" >
            <nb-icon class="Icon851 icon851" icon="printer-outline"></nb-icon>
            <span class="Text1481 text1481 text-undefined text-alignment-left text-transform-none subtitle-2">Print</span>
          </div>
          <div class="space Space554 space554" >
            <nb-icon class="Icon861 icon861" icon="download"></nb-icon>
            <span class="Text1491 text1491 text-undefined text-alignment-left text-transform-none subtitle-2">Download</span>
          </div>
          <div class="space Space563 space563" >
            <nb-icon class="Icon871 icon871" icon="share"></nb-icon>
            <span class="Text1501 text1501 text-undefined text-alignment-left text-transform-none subtitle-2">Share</span>
          </div>
        </div>
        <div class="space Space813 space813" >
          <h6 class="Heading44 heading44 text-undefined text-alignment-left text-transform-none">Mr. Ajay</h6>
          <div class="space Space1021213 space1021213" >
            <div class="space Space122111713 space122111713" >
              <div class="space Space38813 space38813" >
                <p class="Text3110 text3110 text-undefined text-alignment-left text-transform-none paragraph">Name:</p>
              </div>
              <div class="space Space381713 space381713" >
                <p class="Text3210 text3210 text-undefined text-alignment-left text-transform-none paragraph">Ajay</p>
              </div>
            </div>
            <div class="space Space1221111213 space1221111213" >
              <div class="space Space382213 space382213" >
                <p class="Text3310 text3310 text-undefined text-alignment-left text-transform-none paragraph">Class:</p>
              </div>
              <div class="space Space3811213 space3811213" >
                <p class="Text3410 text3410 text-undefined text-alignment-left text-transform-none paragraph">6</p>
              </div>
            </div>
            <div class="space Space1221112213 space1221112213" >
              <div class="space Space383213 space383213" >
                <p class="Text3510 text3510 text-undefined text-alignment-left text-transform-none paragraph">Section:</p>
              </div>
              <div class="space Space3812213 space3812213" >
                <p class="Text3610 text3610 text-undefined text-alignment-left text-transform-none paragraph">A</p>
              </div>
            </div>
            <div class="space Space1221113213 space1221113213" >
              <div class="space Space384213 space384213" >
                <p class="Text3710 text3710 text-undefined text-alignment-left text-transform-none paragraph">Roll:</p>
              </div>
              <div class="space Space3813213 space3813213" >
                <p class="Text3810 text3810 text-undefined text-alignment-left text-transform-none paragraph">9905</p>
              </div>
            </div>
            <div class="space Space1221114213 space1221114213" >
              <div class="space Space385213 space385213" >
                <p class="Text3910 text3910 text-undefined text-alignment-left text-transform-none paragraph">Gender:</p>
              </div>
              <div class="space Space3814213 space3814213" >
                <p class="Text407 text407 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
              </div>
            </div>
            <div class="space Space1221115813 space1221115813" >
              <div class="space Space386813 space386813" >
                <p class="Text411 text411 text-undefined text-alignment-left text-transform-none paragraph">Father Name:</p>
              </div>
              <div class="space Space3815813 space3815813" >
                <p class="Text421 text421 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
            </div>
            <div class="space Space12211151213 space12211151213" >
              <div class="space Space3861213 space3861213" >
                <p class="Text431 text431 text-undefined text-alignment-left text-transform-none paragraph">Mother Name:</p>
              </div>
              <div class="space Space38151213 space38151213" >
                <p class="Text441 text441 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
              <div class="space Space12211152213 space12211152213" >
                <div class="space Space3862213 space3862213" >
                  <p class="Text471 text471 text-undefined text-alignment-left text-transform-none paragraph">Date of Birth:</p>
                </div>
                <div class="space Space38152213 space38152213" >
                  <p class="Text481 text481 text-undefined text-alignment-left text-transform-none paragraph">January 31, 1990</p>
                </div>
                <div class="space Space12211153213 space12211153213" >
                  <div class="space Space3863213 space3863213" >
                    <p class="Text491 text491 text-undefined text-alignment-left text-transform-none paragraph">Father Occupation:</p>
                  </div>
                  <div class="space Space38153213 space38153213" >
                    <p class="Text501 text501 text-undefined text-alignment-left text-transform-none paragraph">Banker</p>
                  </div>
                  <div class="space Space12211154213 space12211154213" >
                    <div class="space Space3864213 space3864213" >
                      <p class="Text511 text511 text-undefined text-alignment-left text-transform-none paragraph">Religion:</p>
                    </div>
                    <div class="space Space38154213 space38154213" >
                      <p class="Text521 text521 text-undefined text-alignment-left text-transform-none paragraph">---</p>
                    </div>
                    <div class="space Space12211155213 space12211155213" >
                      <div class="space Space3865213 space3865213" >
                        <p class="Text531 text531 text-undefined text-alignment-left text-transform-none paragraph">Email:</p>
                      </div>
                      <div class="space Space38155213 space38155213" >
                        <p class="Text541 text541 text-undefined text-alignment-left text-transform-none paragraph">Support@example.com</p>
                      </div>
                      <div class="space Space12211156313 space12211156313" >
                        <div class="space Space3866313 space3866313" >
                          <p class="Text551 text551 text-undefined text-alignment-left text-transform-none paragraph">Admission Date:</p>
                        </div>
                        <div class="space Space38156313 space38156313" >
                          <p class="Text561 text561 text-undefined text-alignment-left text-transform-none paragraph">0/04/2017</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space Space122111561213 space122111561213" >
              <div class="space Space38661213 space38661213" >
                <p class="Text451 text451 text-undefined text-alignment-left text-transform-none paragraph">Address:</p>
              </div>
              <div class="space Space381561213 space381561213" >
                <p class="Text461 text461 text-undefined text-alignment-left text-transform-none paragraph">House#3,Road#34,Canada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>