<div class="row">
  <div class="input-group mb-3">
    <label class="input-group-text" id="dni">
      <i class="bi bi-credit-card-2-front"></i>
    </label>
    <input type="text" class="form-control" placeholder="Dni" aria-label="Dni" aria-describedby="dni">
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" id="names">
      <i class="bi bi-credit-card-2-front"></i>
    </label>
    <input type="text" class="form-control" placeholder="names" aria-label="names" aria-describedby="names">
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" id="surNames">
      <i class="bi bi-credit-card-2-front"></i>
    </label>
    <input type="text" class="form-control" placeholder="Surnames" aria-label="surNames" aria-describedby="surNames">
  </div>
  <div class="col text-center">
    <button type="button" class="btn btn-secondary bi bi-credit-card-2-front">Cancel</button>
    <button type="button" class="btn btn-primary bi bi-floppy">Save</button>
  </div>
</div>
