<nb-card class="Card11 card11">
  <nb-card-body>
    <div class="space Space31 space31" >
      <div class="space Space2 space2" >
        <nb-icon class="Icon4 icon4 giant" icon="book-open"></nb-icon>
      </div>
      <div class="space Space211 space211" >
        <h4 class="Heading27 heading27 text-undefined text-alignment-left text-transform-none">3000</h4>
        <span class="Text143 text143 text-undefined text-alignment-left text-transform-none subtitle-2">Upcoming Exams</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>