<div class="space Space6122111 space6122111" >
  <div class="space Space31122111 space31122111" >
    <img class="Image8 image8" src="./assets/images/Logo horizontal splash white@2x1.svg">
  </div>
  <div class="space Space21121111 space21121111" >
    <div class="space Space51122111 space51122111" >
      <h5 class="Heading25 heading25 text-undefined text-alignment-left text-transform-none">Log in</h5>
      <div class="space Space711111 space711111" >
        <button nbButton class="Button14 button14 size-xl-medium" appearance="outline" status="primary">
          <nb-icon class="icon btn-icon" icon="google"></nb-icon>
          <span>Sign up with google</span>
        </button>
        <button nbButton class="Button15 button15 size-xl-medium" appearance="outline" status="primary">
          <nb-icon class="icon btn-icon" icon="facebook"></nb-icon>
          <span>Sign up with facebook</span>
        </button>
        <button nbButton class="Button16 button16 size-xl-medium" appearance="outline" status="primary">
          <nb-icon class="icon btn-icon" icon="linkedin"></nb-icon>
          <span>Sign up with facebook</span>
        </button>
      </div>
      <div class="space Space9111111 space9111111" >
        <p class="Text139 text139 text-undefined text-alignment-left text-transform-none paragraph">or</p>
      </div>
      <label class="Text137 text137 text-undefined text-alignment-left text-transform-none label">Email</label>
      <input nbInput class="Input27 input27 size-xl-medium" placeholder="Your email" type="email" shape="rectangle" uiValueUpdate="Input27" status="basic" [ngModel]="value">
      <label class="Text138 text138 text-undefined text-alignment-left text-transform-none label">Password</label>
      <input nbInput class="Input28 input28 size-xl-medium" placeholder="Your password" type="password" shape="rectangle" uiValueUpdate="Input28" status="basic" [ngModel]="value1">
      <div class="space Space41122111 space41122111" >
        <button nbButton class="Button23 button23 size-xl-medium" appearance="filled" status="primary">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Log in</span>
        </button>
        <p class="Text406 text406 text-undefined text-alignment-left text-transform-none paragraph">Already have an account?</p>
        <a [routerLink]="url" class="Link2 link2 text-undefined text-alignment-left text-transform-none text-decoration-underline">Log in</a>
      </div>
    </div>
  </div>
</div>