<table class="table Table121 table121">
  <thead>
    <th class="column1">
      <div class="space Space1821 space1821" >
        <span class="Text72 text72 text-undefined text-alignment-left text-transform-none subtitle">Roll</span>
      </div>
    </th>
    <th class="column2">
      <div class="space Space1921 space1921" >
        <span class="Text73 text73 text-undefined text-alignment-left text-transform-none subtitle">Photo</span>
      </div>
    </th>
    <th class="column3">
      <div class="space Space2651 space2651" >
        <span class="Space2681 space2681 text-undefined text-alignment-left text-transform-none subtitle">Name</span>
      </div>
    </th>
    <th class="column4">
      <div class="space Space2751 space2751" >
        <span class="Space2781 space2781 text-undefined text-alignment-left text-transform-none subtitle">Gender</span>
      </div>
    </th>
    <th class="column5">
      <div class="space Space28111 space28111" >
        <span class="Space2841 space2841 text-undefined text-alignment-left text-transform-none subtitle">Parents Name</span>
      </div>
    </th>
    <th class="column6">
      <div class="space Space29111 space29111" >
        <span class="Space1221 space1221 text-undefined text-alignment-left text-transform-none subtitle">Class</span>
      </div>
    </th>
    <th class="column7">
      <div class="space Space12 space12" >
        <span class="Space121 space121 text-undefined text-alignment-left text-transform-none subtitle">Section</span>
      </div>
    </th>
    <th class="column8">
      <div class="space Space13 space13" >
        <span class="Space131 space131 text-undefined text-alignment-left text-transform-none subtitle">Address</span>
      </div>
    </th>
    <th class="column9">
      <div class="space Space39 space39" >
        <span class="Space391 space391 text-undefined text-alignment-left text-transform-none subtitle">Date of Birth</span>
      </div>
    </th>
    <th class="column10">
      <div class="space Space40 space40" >
        <span class="Space401 space401 text-undefined text-alignment-left text-transform-none subtitle">Mobile No</span>
      </div>
    </th>
    <th class="column11">
      <div class="space Space43 space43" >
        <span class="Space431 space431 text-undefined text-alignment-left text-transform-none subtitle">Email</span>
      </div>
    </th>
    <th class="column12">
      <div class="space Space44 space44" >
        <span class="Space29411 space29411 text-undefined text-alignment-left text-transform-none subtitle">Action</span>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="Table121_Row table121-row">  
      <td class="slot">
        <div class="space Space2021 space2021" >
          <nb-checkbox class="Checkbox2 checkbox2" status="success" uiValueUpdate="Checkbox2" [ngModel]="value">{{ label }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2221 space2221" >
          <img class="Image5 image5" src="./assets/images/nick2.jpg">
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2661 space2661" >
          <p class="Text74 text74 text-undefined text-alignment-left text-transform-none paragraph">Daniel Will</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2761 space2761" >
          <p class="Text76 text76 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space28211 space28211" >
          <p class="Text78 text78 text-undefined text-alignment-left text-transform-none paragraph">David Ann</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space29211 space29211" >
          <p class="Text80 text80 text-undefined text-alignment-left text-transform-none paragraph">1</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space122 space122" >
          <p class="Text82 text82 text-undefined text-alignment-left text-transform-none paragraph">A</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space132 space132" >
          <p class="Text85 text85 text-undefined text-alignment-left text-transform-none paragraph">Dhaka-1200</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space392 space392" >
          <p class="Text86 text86 text-undefined text-alignment-left text-transform-none paragraph">10/03/2013</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space402 space402" >
          <p class="Text89 text89 text-undefined text-alignment-left text-transform-none paragraph">+385049765</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space432 space432" >
          <p class="Text90 text90 text-undefined text-alignment-left text-transform-none paragraph">Daniel@example.com</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space441 space441" >
          <nb-icon class="Icon42 icon42" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon43 icon43" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon44 icon44" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table121_Row1 table121-row1">  
      <td class="slot">
        <div class="space Space2321 space2321" >
          <nb-checkbox class="Checkbox3 checkbox3" status="success" uiValueUpdate="Checkbox3" [ngModel]="value1">{{ label1 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2421 space2421" >
          <img class="Image6 image6" src="./assets/images/joe2.jpg">
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2671 space2671" >
          <p class="Text75 text75 text-undefined text-alignment-left text-transform-none paragraph">Richi Hasan</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2771 space2771" >
          <p class="Text77 text77 text-undefined text-alignment-left text-transform-none paragraph">Female</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space28311 space28311" >
          <p class="Text79 text79 text-undefined text-alignment-left text-transform-none paragraph">Leo Margaret</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space29311 space29311" >
          <p class="Text81 text81 text-undefined text-alignment-left text-transform-none paragraph">2</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space123 space123" >
          <p class="Text83 text83 text-undefined text-alignment-left text-transform-none paragraph">C</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space133 space133" >
          <p class="Text84 text84 text-undefined text-alignment-left text-transform-none paragraph">Ta-110 Canada</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space393 space393" >
          <p class="Text87 text87 text-undefined text-alignment-left text-transform-none paragraph">05/05/2013</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space403 space403" >
          <p class="Text88 text88 text-undefined text-alignment-left text-transform-none paragraph">+48504934</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space433 space433" >
          <p class="Text91 text91 text-undefined text-alignment-left text-transform-none paragraph">Richi@example.com</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space442 space442" >
          <nb-icon class="Icon45 icon45" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon46 icon46" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon47 icon47" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table121_Row2 table121-row2">  
      <td class="slot">
        <div class="space Space25 space25" >
          <nb-checkbox class="Checkbox17 checkbox17" status="success" uiValueUpdate="Checkbox17" [ngModel]="value2">{{ label2 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space252 space252" >
          <img class="Image19 image19" src="./assets/images/jojo-min1.jpg">
        </div>
      </td>  
      <td class="slot">
        <div class="space Space253 space253" >
          <p class="Text318 text318 text-undefined text-alignment-left text-transform-none paragraph">Martin Hovsep</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space254 space254" >
          <p class="Text319 text319 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space255 space255" >
          <p class="Text320 text320 text-undefined text-alignment-left text-transform-none paragraph">William Ann</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space256 space256" >
          <p class="Text321 text321 text-undefined text-alignment-left text-transform-none paragraph">3</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space257 space257" >
          <p class="Text322 text322 text-undefined text-alignment-left text-transform-none paragraph">B</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space258 space258" >
          <p class="Text323 text323 text-undefined text-alignment-left text-transform-none paragraph">Ta-110 Canada</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space259 space259" >
          <p class="Text324 text324 text-undefined text-alignment-left text-transform-none paragraph">02/03/2013</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2510 space2510" >
          <p class="Text325 text325 text-undefined text-alignment-left text-transform-none paragraph">+58504934</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2512 space2512" >
          <p class="Text326 text326 text-undefined text-alignment-left text-transform-none paragraph">Martin@example.com</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2513 space2513" >
          <nb-icon class="Icon122 icon122" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon123 icon123" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon124 icon124" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table121_Row3 table121-row3">  
      <td class="slot">
        <div class="space Space33 space33" >
          <nb-checkbox class="Checkbox18 checkbox18" status="success" uiValueUpdate="Checkbox18" [ngModel]="value3">{{ label3 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space333 space333" >
          <img class="Image20 image20" src="./assets/images/mary1.jpg">
        </div>
      </td>  
      <td class="slot">
        <div class="space Space334 space334" >
          <p class="Text327 text327 text-undefined text-alignment-left text-transform-none paragraph">Taylor Lopez</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space335 space335" >
          <p class="Text328 text328 text-undefined text-alignment-left text-transform-none paragraph">Female</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space336 space336" >
          <p class="Text329 text329 text-undefined text-alignment-left text-transform-none paragraph">Tyler Hall</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space337 space337" >
          <p class="Text330 text330 text-undefined text-alignment-left text-transform-none paragraph">2</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space338 space338" >
          <p class="Text331 text331 text-undefined text-alignment-left text-transform-none paragraph">D</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space339 space339" >
          <p class="Text332 text332 text-undefined text-alignment-left text-transform-none paragraph">Ta-110 Canada</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3310 space3310" >
          <p class="Text333 text333 text-undefined text-alignment-left text-transform-none paragraph">15/01/2013</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3312 space3312" >
          <p class="Text334 text334 text-undefined text-alignment-left text-transform-none paragraph">+78504934</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3313 space3313" >
          <p class="Text335 text335 text-undefined text-alignment-left text-transform-none paragraph">Taylor@example.com</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3314 space3314" >
          <nb-icon class="Icon125 icon125" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon126 icon126" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon127 icon127" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table121_Row4 table121-row4">  
      <td class="slot">
        <div class="space Space34 space34" >
          <nb-checkbox class="Checkbox19 checkbox19" status="success" uiValueUpdate="Checkbox19" [ngModel]="value4">{{ label4 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space343 space343" >
          <img class="Image21 image21" src="./assets/images/elora1.jpg">
        </div>
      </td>  
      <td class="slot">
        <div class="space Space344 space344" >
          <p class="Text336 text336 text-undefined text-alignment-left text-transform-none paragraph">Staff Wilson</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space345 space345" >
          <p class="Text337 text337 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space346 space346" >
          <p class="Text338 text338 text-undefined text-alignment-left text-transform-none paragraph">Denis Sandra</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space347 space347" >
          <p class="Text339 text339 text-undefined text-alignment-left text-transform-none paragraph">4</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space348 space348" >
          <p class="Text340 text340 text-undefined text-alignment-left text-transform-none paragraph">B</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space349 space349" >
          <p class="Text341 text341 text-undefined text-alignment-left text-transform-none paragraph">Ta-110 Canada</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3410 space3410" >
          <p class="Text342 text342 text-undefined text-alignment-left text-transform-none paragraph">21/06/2013</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3413 space3413" >
          <p class="Text343 text343 text-undefined text-alignment-left text-transform-none paragraph">+985049345</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3414 space3414" >
          <p class="Text344 text344 text-undefined text-alignment-left text-transform-none paragraph">Staff@example.com</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3415 space3415" >
          <nb-icon class="Icon128 icon128" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon129 icon129" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon130 icon130" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
  </tbody>
</table>