/* 
    Document   : Jstyle
    Created on : 05/02/2013, 08:20:05 AM
    Author     : JONATAN
    Description:
        Purpose of the stylesheet follows.
*/

table#repGen {
	border-collapse: collapse;
	border: 1px solid #CCC;
       width: 80%;
	font-size: 11px;
	font-family:Verdana;
	
        box-shadow:black 1px 1px 5px;
        border-collapse: collapse;
        margin:10px 0pt 15px; 
}
 
table#repGen thead tr th, table#repGen tfoot tr th {
        text-align: center;
	font-weight: bold;
	background-color: #E1E1E1;
	padding:5px;
}
table#repGen thead tr .header {
	background-image: url(../Imagenes/Icons/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
} 

table#repGen tbody td {
	padding: 5px 10px;
        text-align: left;
/*        padding: 10px;*/
}
table#repGen tbody tr:hover td {
	background-color: #F3F3F3;
}


table#repGen thead tr .headerSortUp {
	background-image: url(../Imagenes/Icons/asc.gif);
}
table#repGen thead tr .headerSortDown {
	background-image: url(../Imagenes/Icons/desc.gif);
}
table#repGen thead tr .headerSortDown, table#repGen thead tr .headerSortUp {
background-color: #8dbdd8;
}







 #FormBusqueda:before, #FormBusqueda:after {
    content:"";
    display:table;
  }
  #FormBusqueda:after {clear:both; }
/*  #FormBusqueda { zoom:4; }*/

   /* el formulario en si mismo */
  #FormBusqueda {
    background-color: #E1E1E1;
    border-radius: 10px;
    box-shadow: 0 0 2px #606971 inset;
    margin: 0 auto;
    padding: 15px;
    width: 390px;
  }

   /* la caja donde se ingresa el texto a buscar */
  #FormBusqueda input {
    background-color: #EEE;
    border: none;
    border-radius: 3px 0 0 3px;
    float: left;
    font-family: Tahoma;font-size:15px;font-weight: bold;
    height: 20px;
    padding: 10px 5px;
    width: 280px;
  }
  #FormBusqueda input:focus {
    outline: 0;
    background: #FFF;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  }
  

  /* el estilo de del atributo placeholder debe ser declarado para cada navegador de modo separado */
  #FormBusqueda input:-moz-placeholder { color: #999; font-weight: normal; font-style: italic; }
  #FormBusqueda input::-webkit-input-placeholder { color: #999; font-weight: normal; font-style: italic; }
  #FormBusqueda input:-ms-input-placeholder { color: #999; font-weight: normal; font-style: italic; }

  /* aquí iría el estilo de del atributo required si es que se desea definirlo */
  #FormBusqueda input:required { box-shadow: none; }

   /* el botón de envio */
  #FormBusqueda button {
    background-color: #9099A1;
    border: none;
    border-radius: 0 3px 3px 0;
    color: #FFF;
    cursor: pointer;
    float: right;
    font-family: Tahoma;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    overflow: visible;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    width: 100px;
  }
  #FormBusqueda button:hover{ background: #E54040; } 
  #FormBusqueda button:active, #FormBusqueda button:focus{ background: #C42F2F; }
  #FormBusqueda button:before { /* el detalle del triángulo izquierdo */
    content: "";
    border-color: transparent #9099A1 transparent;
    border-style: solid solid solid none;
    border-width: 8px 8px 8px 0;
    left: -6px;
    position: absolute;
    top: 12px;
  }
  #FormBusqueda button:hover:before { border-right-color: #E54040; }
  #FormBusqueda button:focus:before { border-right-color: #C42F2F; }    


#DivDemo {
    -moz-box-shadow: 3px 3px 4px #111;
    -webkit-box-shadow: 3px 3px 4px #111;
    box-shadow: 3px 3px 4px #111;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111');
}


#FormReg{

     background-color: #ff2000;
    border-radius: 10px;
    box-shadow: 0 0 2px #606971 inset;
    margin: 0 auto;
    padding: 15px;
    width: 390px;
    
}
#FormReg label{
    display: block;
    font-weight: bold;
}
#FormReg div{
    margin-bottom: 15px;
}
#FormReg input[type="text"],input[type="date"],input[type="email"]{
     background-color: #EEE;
    border: none;
    border-radius: 3px 0 0 3px;
/*    float: left;*/
    font-family: Tahoma;font-size:15px;font-weight: bold;
    height: 20px;
    padding: 10px 5px;
    width: 280px;
}
#FormReg textarea{
    background-color: #EEE;
    border: none;
    border-radius: 3px 0 0 3px;
/*    float: left;*/
    font-family: Tahoma;font-size:15px;font-weight: bold;
    height: 20px;
    padding: 10px 5px;
    width: 280px;
    
}
.overview {
            background: #FFEC9D;
            padding: 10px;
            width: 90%;
            border: 1px solid #CCCCCC;
    }

    .originalTextareaInfo {
            font-size: 12px;
            color: #000000;
            font-family: Tahoma, sans-serif;
            text-align: right
    }

    .warningTextareaInfo {
            font-size: 12px;
            color: #FF0000;
            font-family: Tahoma, sans-serif;
            text-align: right
    }

















#FormReg input[type="text"]:focus,input[type="email"]:focus, #FormReg textarea{
     outline: 0;
    background: #FFF;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;

}
    
    
#FormReg input[type="text"]:focus, #FormReg textarea:focus{

    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
#FormReg input[type="submit"],input[type="reset"],input[type="button"]{
    border: 1px solid #CED5D7;
/*    box-shadow:0 0 0 3px #EEF5F7;*/
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #D2691E;
    background: -moz-linear-gradient(top, #D2691E 0%, #FF0000 100%);
    background: -webkit-linear-gradient(top, #D2691E 0%,#FF0000 100%);
}
#FormReg input[type="submit"]:hover,[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover{
    background: #FF8C00;
    background: -moz-linear-gradient(top, #FF8C00 0%, #FF8C00 100%);
    background: -webkit-linear-gradient(top, #FF8C00 0%,#FF8C00 100%);
}
#FormReg input[type="submit"]:active{
    background: #FF0000;
    background: -moz-linear-gradient(top, #FF0000 0%, #FF8C00 100%);
    background: -webkit-linear-gradient(top, #FF0000 0%,#FF8C00 100%);
}