:host {

  width: 100%;
  height: auto;
  display: block;
  
  .text125 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space182111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space2681111 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space192111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space268111 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space265111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space26811111 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space275111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space2681112 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space281111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space268111111 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space291111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space26811121 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space1231 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space268111112 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space3911 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space26811122 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space4011 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space268111113 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space4311 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space26811123 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space4411 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text126 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space202111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon65 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space222111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon67 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space266111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon78 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space276111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon69 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space282111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon81 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space292111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon71 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space1241 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon73 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space3921 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon74 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space4021 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon75 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space4321 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon83 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space4421 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12111-row {
    background-color: unset;
  }
    
  .text127 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space232111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon66 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space242111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon68 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space267111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon79 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space277111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon80 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space283111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon70 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space293111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon72 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space1251 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon82 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space3931 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon77 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space4031 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon76 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space4331 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon84 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space4431 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12111-row1 {
    background-color: unset;
  }
    
  .text396 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space57 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon158 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space571 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon161 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space572 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon164 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space573 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon167 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space574 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon170 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space575 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon173 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space576 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon175 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space577 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon179 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space578 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon182 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space579 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon185 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space5710 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12111-row2 {
    background-color: unset;
  }
    
  .text397 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space58 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon159 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space581 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon162 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space582 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon165 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space583 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon168 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space584 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon171 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space585 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon174 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space586 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon176 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space587 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon180 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space588 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon183 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space589 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon186 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space5810 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12111-row3 {
    background-color: unset;
  }
    
  .text398 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space59 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon160 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space591 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon163 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space592 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon166 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space593 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon169 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space594 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon172 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space595 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon178 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space596 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon177 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space597 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon181 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space598 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon184 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space599 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon187 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .space5910 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12111-row4 {
    background-color: unset;
  }
    
  .table12111 {
  
    width: 100%;
    height: 100%;
    background-color: unset;
    
    .column1 {
      width: 140px;
    }  
    .column2 {
      width: 80px;
    }  
    .column3 {
      width: 80px;
    }  
    .column4 {
      width: 80px;
    }  
    .column5 {
      width: 80px;
    }  
    .column6 {
      width: 80px;
    }  
    .column7 {
      width: 80px;
    }  
    .column8 {
      width: 80px;
    }  
    .column9 {
      width: 80px;
    }  
    .column10 {
      width: 80px;
    }  
    .column11 {
      width: 80px;
    }
  }  
  @media (max-width: 1024px) {
    width: 100%;
    height: auto;
    flex-grow: 0;
  }
  
}