<table class="table Table12111 table12111">
  <thead>
    <th class="column1">
      <div class="space Space182111 space182111" >
        <span class="Text125 text125 text-undefined text-alignment-left text-transform-none subtitle">Student</span>
      </div>
    </th>
    <th class="column2">
      <div class="space Space192111 space192111" >
        <span class="Space2681111 space2681111 text-undefined text-alignment-left text-transform-none subtitle">1, Wed</span>
      </div>
    </th>
    <th class="column3">
      <div class="space Space265111 space265111" >
        <span class="Space268111 space268111 text-undefined text-alignment-left text-transform-none subtitle">3, Fri</span>
      </div>
    </th>
    <th class="column4">
      <div class="space Space275111 space275111" >
        <span class="Space26811111 space26811111 text-undefined text-alignment-left text-transform-none subtitle">8, Wed</span>
      </div>
    </th>
    <th class="column5">
      <div class="space Space281111 space281111" >
        <span class="Space2681112 space2681112 text-undefined text-alignment-left text-transform-none subtitle">10, Fri</span>
      </div>
    </th>
    <th class="column6">
      <div class="space Space291111 space291111" >
        <span class="Space268111111 space268111111 text-undefined text-alignment-left text-transform-none subtitle">15, Wed</span>
      </div>
    </th>
    <th class="column7">
      <div class="space Space1231 space1231" >
        <span class="Space26811121 space26811121 text-undefined text-alignment-left text-transform-none subtitle">17, Fri</span>
      </div>
    </th>
    <th class="column8">
      <div class="space Space3911 space3911" >
        <span class="Space268111112 space268111112 text-undefined text-alignment-left text-transform-none subtitle">21, Wed</span>
      </div>
    </th>
    <th class="column9">
      <div class="space Space4011 space4011" >
        <span class="Space26811122 space26811122 text-undefined text-alignment-left text-transform-none subtitle">24, Fri</span>
      </div>
    </th>
    <th class="column10">
      <div class="space Space4311 space4311" >
        <span class="Space268111113 space268111113 text-undefined text-alignment-left text-transform-none subtitle">29, Wed</span>
      </div>
    </th>
    <th class="column11">
      <div class="space Space4411 space4411" >
        <span class="Space26811123 space26811123 text-undefined text-alignment-left text-transform-none subtitle">31, Fri</span>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="Table12111_Row table12111-row">  
      <td class="slot">
        <div class="space Space202111 space202111" >
          <p class="Text126 text126 text-undefined text-alignment-left text-transform-none paragraph">Daniel Will</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space222111 space222111" >
          <nb-icon class="Icon65 icon65" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space266111 space266111" >
          <nb-icon class="Icon67 icon67" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space276111 space276111" >
          <nb-icon class="Icon78 icon78" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space282111 space282111" >
          <nb-icon class="Icon69 icon69" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space292111 space292111" >
          <nb-icon class="Icon81 icon81" nbTooltip="Was ill" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space1241 space1241" >
          <nb-icon class="Icon71 icon71" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3921 space3921" >
          <nb-icon class="Icon73 icon73" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4021 space4021" >
          <nb-icon class="Icon74 icon74" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4321 space4321" >
          <nb-icon class="Icon75 icon75" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4421 space4421" >
          <nb-icon class="Icon83 icon83" nbTooltip="Competition participation" icon="close-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table12111_Row1 table12111-row1">  
      <td class="slot">
        <div class="space Space232111 space232111" >
          <p class="Text127 text127 text-undefined text-alignment-left text-transform-none paragraph">Richi Hasan</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space242111 space242111" >
          <nb-icon class="Icon66 icon66" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space267111 space267111" >
          <nb-icon class="Icon68 icon68" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space277111 space277111" >
          <nb-icon class="Icon79 icon79" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space283111 space283111" >
          <nb-icon class="Icon80 icon80" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space293111 space293111" >
          <nb-icon class="Icon70 icon70" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space1251 space1251" >
          <nb-icon class="Icon72 icon72" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3931 space3931" >
          <nb-icon class="Icon82 icon82" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4031 space4031" >
          <nb-icon class="Icon77 icon77" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4331 space4331" >
          <nb-icon class="Icon76 icon76" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4431 space4431" >
          <nb-icon class="Icon84 icon84" nbTooltip="Competition participation" icon="close-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table12111_Row2 table12111-row2">  
      <td class="slot">
        <div class="space Space57 space57" >
          <p class="Text396 text396 text-undefined text-alignment-left text-transform-none paragraph">Martin Hovsep</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space571 space571" >
          <nb-icon class="Icon158 icon158" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space572 space572" >
          <nb-icon class="Icon161 icon161" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space573 space573" >
          <nb-icon class="Icon164 icon164" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space574 space574" >
          <nb-icon class="Icon167 icon167" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space575 space575" >
          <nb-icon class="Icon170 icon170" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space576 space576" >
          <nb-icon class="Icon173 icon173" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space577 space577" >
          <nb-icon class="Icon175 icon175" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space578 space578" >
          <nb-icon class="Icon179 icon179" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space579 space579" >
          <nb-icon class="Icon182 icon182" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space5710 space5710" >
          <nb-icon class="Icon185 icon185" icon="checkmark"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table12111_Row3 table12111-row3">  
      <td class="slot">
        <div class="space Space58 space58" >
          <p class="Text397 text397 text-undefined text-alignment-left text-transform-none paragraph">Taylor Lopez</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space581 space581" >
          <nb-icon class="Icon159 icon159" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space582 space582" >
          <nb-icon class="Icon162 icon162" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space583 space583" >
          <nb-icon class="Icon165 icon165" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space584 space584" >
          <nb-icon class="Icon168 icon168" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space585 space585" >
          <nb-icon class="Icon171 icon171" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space586 space586" >
          <nb-icon class="Icon174 icon174" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space587 space587" >
          <nb-icon class="Icon176 icon176" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space588 space588" >
          <nb-icon class="Icon180 icon180" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space589 space589" >
          <nb-icon class="Icon183 icon183" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space5810 space5810" >
          <nb-icon class="Icon186 icon186" icon="checkmark"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table12111_Row4 table12111-row4">  
      <td class="slot">
        <div class="space Space59 space59" >
          <p class="Text398 text398 text-undefined text-alignment-left text-transform-none paragraph">Staff Wilson</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space591 space591" >
          <nb-icon class="Icon160 icon160" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space592 space592" >
          <nb-icon class="Icon163 icon163" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space593 space593" >
          <nb-icon class="Icon166 icon166" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space594 space594" >
          <nb-icon class="Icon169 icon169" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space595 space595" >
          <nb-icon class="Icon172 icon172" icon="checkmark"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space596 space596" >
          <nb-icon class="Icon178 icon178" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space597 space597" >
          <nb-icon class="Icon177 icon177" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space598 space598" >
          <nb-icon class="Icon181 icon181" nbTooltip="Reason of absence" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space599 space599" >
          <nb-icon class="Icon184 icon184" nbTooltip="Competition participation" icon="close-outline"></nb-icon>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space5910 space5910" >
          <nb-icon class="Icon187 icon187" icon="checkmark"></nb-icon>
        </div>
      </td>
    </tr>
  </tbody>
</table>