:host {
  
  .space3411 {
    height: 560px;
    width: 300px;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 16px 0 16px 16px;
    overflow: visible;
    background-color: unset;
    background-size: cover;
    background-image: url('/assets/images/ezgif.com-gif-maker (9).jpg');
  }
    
  .heading38 {
    font-size: 18px;
    line-height: initial;
    margin: 0 0 16px 0;
    color: var(--text-basic-color);
  }
    
  .text262 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space388121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text263 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3817121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221117121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text264 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3822121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text265 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38112121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211112121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text266 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3832121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text267 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38122121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211122121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text268 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3842121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text269 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38132121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211132121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text270 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3852121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text271 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38142121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211142121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text272 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3868121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text273 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38158121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211158121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text274 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38612121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text275 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381512121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text278 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38622121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text279 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381522121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text280 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38632121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text281 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381532121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text282 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38642121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text283 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381542121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text284 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38652121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text285 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381552121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text286 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38663121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text287 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381563121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111563121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111552121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111542121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111532121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111522121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111512121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text276 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space386612121111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text277 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3815612121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221115612121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space10212121111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space8121111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 16px 0 16px 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space3321 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  .space321212 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space421 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space4201 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space331 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0 0 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space161 {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  @media (max-width: 1024px) {
    .space3411 {
      height: 600px;
      width: 300px;
    }
    
    .space381563121111 {
      background-color: unset;
      background-size: auto;
      background-image: none;
    }
    
    .text277 {
      margin: 8px 8px 8px 0;
    }
    
    .space3815612121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
    }
    
    .space8121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      margin: 24px 0 24px 24px;
    }
    
    .space421 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
    
  @media (max-width: 768px) {
    .space3411 {
      height: 600px;
      flex-grow: 1;
      flex-basis: 0;
    }
    
    .space321212 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space421 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space4201 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space161 {
      height: 100%;
      flex-grow: 1;
      flex-basis: 0;
    }
  }
    
  @media (max-width: 480px) {
    .space3411 {
      height: 600px;
      flex-grow: 1;
      flex-basis: 0;
      display: none;
    }
    
    .text277 {
      margin: 8px 0;
    }
    
    .space3815612121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
    }
  }
    
  @media (max-width: 320px) {
    .space3817121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space38112121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space38122121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space38132121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space38142121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space38158121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space381512121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space381522121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space381532121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space381542121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space381552121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space381563121111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
      margin: 0;
    }
    
    .space3815612121111 {
      padding: 0 0 0 16px;
    }
    
    .space8121111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
  
}