<div class="space Space161 space161" >
  <div class="space Space321212 space321212" >
    <app-card141></app-card141>
    <div class="space Space3321 space3321" >
      <div class="space Space3411 space3411" >
        
      </div>
      <div class="space Space8121111 space8121111" >
        <h6 class="Heading38 heading38 text-undefined text-alignment-left text-transform-none">Mr.Ajay</h6>
        <div class="space Space10212121111 space10212121111" >
          <div class="space Space1221117121111 space1221117121111" >
            <div class="space Space388121111 space388121111" >
              <p class="Text262 text262 text-undefined text-alignment-left text-transform-none paragraph">Name:</p>
            </div>
            <div class="space Space3817121111 space3817121111" >
              <p class="Text263 text263 text-undefined text-alignment-left text-transform-none paragraph">Ajay</p>
            </div>
          </div>
          <div class="space Space12211112121111 space12211112121111" >
            <div class="space Space3822121111 space3822121111" >
              <p class="Text264 text264 text-undefined text-alignment-left text-transform-none paragraph">Class:</p>
            </div>
            <div class="space Space38112121111 space38112121111" >
              <p class="Text265 text265 text-undefined text-alignment-left text-transform-none paragraph">6</p>
            </div>
          </div>
          <div class="space Space12211122121111 space12211122121111" >
            <div class="space Space3832121111 space3832121111" >
              <p class="Text266 text266 text-undefined text-alignment-left text-transform-none paragraph">Section:</p>
            </div>
            <div class="space Space38122121111 space38122121111" >
              <p class="Text267 text267 text-undefined text-alignment-left text-transform-none paragraph">A</p>
            </div>
          </div>
          <div class="space Space12211132121111 space12211132121111" >
            <div class="space Space3842121111 space3842121111" >
              <p class="Text268 text268 text-undefined text-alignment-left text-transform-none paragraph">Roll:</p>
            </div>
            <div class="space Space38132121111 space38132121111" >
              <p class="Text269 text269 text-undefined text-alignment-left text-transform-none paragraph">9905</p>
            </div>
          </div>
          <div class="space Space12211142121111 space12211142121111" >
            <div class="space Space3852121111 space3852121111" >
              <p class="Text270 text270 text-undefined text-alignment-left text-transform-none paragraph">Gender:</p>
            </div>
            <div class="space Space38142121111 space38142121111" >
              <p class="Text271 text271 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
            </div>
          </div>
          <div class="space Space12211158121111 space12211158121111" >
            <div class="space Space3868121111 space3868121111" >
              <p class="Text272 text272 text-undefined text-alignment-left text-transform-none paragraph">Father Name:</p>
            </div>
            <div class="space Space38158121111 space38158121111" >
              <p class="Text273 text273 text-undefined text-alignment-left text-transform-none paragraph">---</p>
            </div>
          </div>
          <div class="space Space122111512121111 space122111512121111" >
            <div class="space Space38612121111 space38612121111" >
              <p class="Text274 text274 text-undefined text-alignment-left text-transform-none paragraph">Mother Name:</p>
            </div>
            <div class="space Space381512121111 space381512121111" >
              <p class="Text275 text275 text-undefined text-alignment-left text-transform-none paragraph">---</p>
            </div>
            <div class="space Space122111522121111 space122111522121111" >
              <div class="space Space38622121111 space38622121111" >
                <p class="Text278 text278 text-undefined text-alignment-left text-transform-none paragraph">Date of Birth:</p>
              </div>
              <div class="space Space381522121111 space381522121111" >
                <p class="Text279 text279 text-undefined text-alignment-left text-transform-none paragraph">January 31, 1990</p>
              </div>
              <div class="space Space122111532121111 space122111532121111" >
                <div class="space Space38632121111 space38632121111" >
                  <p class="Text280 text280 text-undefined text-alignment-left text-transform-none paragraph">Father Occupation:</p>
                </div>
                <div class="space Space381532121111 space381532121111" >
                  <p class="Text281 text281 text-undefined text-alignment-left text-transform-none paragraph">Banker</p>
                </div>
                <div class="space Space122111542121111 space122111542121111" >
                  <div class="space Space38642121111 space38642121111" >
                    <p class="Text282 text282 text-undefined text-alignment-left text-transform-none paragraph">Religion:</p>
                  </div>
                  <div class="space Space381542121111 space381542121111" >
                    <p class="Text283 text283 text-undefined text-alignment-left text-transform-none paragraph">---</p>
                  </div>
                  <div class="space Space122111552121111 space122111552121111" >
                    <div class="space Space38652121111 space38652121111" >
                      <p class="Text284 text284 text-undefined text-alignment-left text-transform-none paragraph">Email:</p>
                    </div>
                    <div class="space Space381552121111 space381552121111" >
                      <p class="Text285 text285 text-undefined text-alignment-left text-transform-none paragraph">Support@example.com</p>
                    </div>
                    <div class="space Space122111563121111 space122111563121111" >
                      <div class="space Space38663121111 space38663121111" >
                        <p class="Text286 text286 text-undefined text-alignment-left text-transform-none paragraph">Admission Date:</p>
                      </div>
                      <div class="space Space381563121111 space381563121111" >
                        <p class="Text287 text287 text-undefined text-alignment-left text-transform-none paragraph">0/04/2017</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space Space1221115612121111 space1221115612121111" >
            <div class="space Space386612121111 space386612121111" >
              <p class="Text276 text276 text-undefined text-alignment-left text-transform-none paragraph">Address:</p>
            </div>
            <div class="space Space3815612121111 space3815612121111" >
              <p class="Text277 text277 text-undefined text-alignment-left text-transform-none paragraph">House#3,Road#34,Canada</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space Space331 space331" >
    <div class="space Space421 space421" >
      <app-card131></app-card131>
      <app-card1211></app-card1211>
    </div>
    <div class="space Space4201 space4201" >
      
    </div>
  </div>
</div>