:host {

  width: 100%;
  height: auto;
  margin: 0 0 8px 0;
  display: block;
  
  .heading15 {
    font-size: 18px;
    line-height: initial;
    margin: 0;
    color: var(--text-basic-color);
  }
    
  .space54111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text92 {
    font-size: 12px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-hint-color);
  }
    
  .input8 {
    margin: 4px 0 20px 0;
    width: 100%;
  }
    
  .space72212 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 16px 0 0;
    margin: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text93 {
    font-size: 12px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-hint-color);
  }
    
  .input9 {
    margin: 4px 0 20px 0;
    width: 100%;
  }
    
  .space722121 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 16px 0 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text94 {
    font-size: 12px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-hint-color);
  }
    
  .select2 {
    margin: 4px 0 20px 0;
    width: 100%;
  }
    
  .space7221211 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 16px 0 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text95 {
    font-size: 12px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-hint-color);
  }
    
  .select3 {
    margin: 4px 0 20px 0;
    width: 100%;
  }
    
  .space7221212 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 16px 0 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .button3 {
    margin: 0 8px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
    > nb-icon {
      color: inherit;
    }
  }
    
  .space72212121 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space64111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .card15111 {
    width: 100%;
    height: 100%;
    margin: 0 0 8px 0;
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  @media (max-width: 1024px) {
    .space72212 {
      height: auto;
      min-height: 2rem;
      width: 50%;
    }
    
    .space722121 {
      height: auto;
      min-height: 2rem;
      width: 50%;
    }
    
    .space7221211 {
      height: auto;
      min-height: 2rem;
      width: 50%;
      padding: 0 16px 0 0;
      margin: 0;
    }
    
    .select3 {
      width: 100%;
    }
    
    .space7221212 {
      height: auto;
      min-height: 2rem;
      width: 50%;
      padding: 0 16px 0 0;
      margin: 0;
    }
    
    .button3 {
      > nb-icon {
        color: inherit;
      }
    }
  }
    
  @media (max-width: 768px) {
    .space72212 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }
    
    .space722121 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }
    
    .space7221211 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    
    .space7221212 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }
    
    .button3 {
      > nb-icon {
        color: inherit;
      }
    }width: 100%;
    height: auto;
    margin: 8px 0;
    flex-grow: 0;
  }
    
  @media (max-width: 480px) {
    .space72212 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }
    
    .space722121 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space7221211 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    
    .space7221212 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .button3 {
      > nb-icon {
        color: inherit;
      }
    }
  }
    
  @media (max-width: 320px) {
    .button3 {
      > nb-icon {
        color: inherit;
      }
    }
  }
  
}