<nb-card class="Card1111 card1111">
  <nb-card-body>
    <div class="space Space3111 space3111" >
      <div class="space Space212 space212" >
        <nb-icon class="Icon6 icon6 giant" icon="award"></nb-icon>
      </div>
      <div class="space Space21111 space21111" >
        <h4 class="Heading1 heading1 text-undefined text-alignment-left text-transform-none">3000</h4>
        <span class="Text145 text145 text-undefined text-alignment-left text-transform-none subtitle-2">Exams</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>