<nb-card class="Card211 card211">
  <nb-card-header>
    <div class="space Space1412 space1412" >
      <div class="space Space1721 space1721" >
        <h6 class="Heading6 heading6 text-undefined text-alignment-left text-transform-none">Recent Comments</h6>
      </div>
      <div class="space Space17111 space17111" >
        <nb-icon class="Icon11 icon11" icon="link-2"></nb-icon>
        <nb-icon class="Icon12 icon12" icon="close-outline"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space1511 space1511" >
      <div class="space Space1425 space1425" >
        <div class="space Space1435 space1435" >
          <img class="Image2 image2" src="./assets/images/nick1.jpg">
        </div>
        <div class="space Space14115 space14115" >
          <span class="Text15 text15 text-undefined text-alignment-left text-transform-none subtitle">Ajay</span>
          <p class="Text16 text16 text-undefined text-alignment-left text-transform-none paragraph">Homework questions</p>
          <div class="space Space36 space36" >
            <div class="space Space3511 space3511" >
              <span class="Text17 text17 text-undefined text-alignment-left text-transform-none caption">COMPLETE</span>
            </div>
            <nb-icon class="Icon13 icon13 small" icon="checkmark"></nb-icon>
            <nb-icon class="Icon14 icon14 small" icon="close"></nb-icon>
            <nb-icon class="Icon15 icon15 small" icon="undo"></nb-icon>
            <span class="Text18 text18 text-undefined text-alignment-left text-transform-none caption">October 21, 2020</span>
          </div>
        </div>
        <div class="Divider divider"></div>
      </div>
      <div class="space Space14251 space14251" >
        <div class="space Space14351 space14351" >
          <img class="Image3 image3" src="./assets/images/joe1.jpg">
        </div>
        <div class="space Space141151 space141151" >
          <span class="Text19 text19 text-undefined text-alignment-left text-transform-none subtitle">James</span>
          <p class="Text20 text20 text-undefined text-alignment-left text-transform-none paragraph">Closing passes due to illness</p>
          <div class="space Space361 space361" >
            <div class="space Space35111 space35111" >
              <span class="Text22 text22 text-undefined text-alignment-left text-transform-none caption">PENDING</span>
            </div>
            <nb-icon class="Icon16 icon16 small" icon="checkmark"></nb-icon>
            <nb-icon class="Icon17 icon17 small" icon="close"></nb-icon>
            <nb-icon class="Icon18 icon18 small" icon="undo"></nb-icon>
            <span class="Text21 text21 text-undefined text-alignment-left text-transform-none caption">September 18, 2020</span>
          </div>
        </div>
        <div class="Divider1 divider1"></div>
      </div>
      <div class="space Space14252 space14252" >
        <div class="space Space14352 space14352" >
          <img class="Image4 image4" src="./assets/images/Men avatar 3.jpg">
        </div>
        <div class="space Space141152 space141152" >
          <span class="Text23 text23 text-undefined text-alignment-left text-transform-none subtitle">Nick</span>
          <p class="Text24 text24 text-undefined text-alignment-left text-transform-none paragraph">Additional lessons</p>
          <div class="space Space362 space362" >
            <div class="space Space35112 space35112" >
              <span class="Text26 text26 text-undefined text-alignment-left text-transform-none caption">REJECTED</span>
            </div>
            <nb-icon class="Icon19 icon19 small" icon="checkmark"></nb-icon>
            <nb-icon class="Icon20 icon20 small" icon="close"></nb-icon>
            <nb-icon class="Icon21 icon21 small" icon="undo"></nb-icon>
            <span class="Text25 text25 text-undefined text-alignment-left text-transform-none caption">September 4, 2020</span>
          </div>
        </div>
        <div class="Divider2 divider2"></div>
      </div>
    </div>
  </nb-card-body>
</nb-card>