<nb-card class="Card1511121 card1511121">
  <nb-card-body>
    <div class="space Space6411121 space6411121" >
      <div class="space Space452 space452" >
        <h4 class="Heading22 heading22 text-undefined text-alignment-left text-transform-none">Payment </h4>
        <div class="space Space46 space46" >
          <h6 class="Heading23 heading23 text-undefined text-alignment-left text-transform-none">TOTAL AMOUNT: $0</h6>
        </div>
        <div class="space Space461 space461" >
          <span class="Text128 text128 text-undefined text-alignment-left text-transform-none caption-2">Card Number</span>
          <div class="space Space48 space48" >
            <div class="space Space491 space491" >
              <input nbInput class="Input21 input21 size-xl-medium" placeholder="1234 1234 1234 1234" type="text" shape="rectangle" uiValueUpdate="Input21" status="basic" [ngModel]="value">
            </div>
          </div>
          <div class="space Space481 space481" >
            <div class="space Space4921 space4921" >
              <span class="Text129 text129 text-undefined text-alignment-left text-transform-none caption-2">Expiration date</span>
              <input nbInput class="Input22 input22 size-xl-medium" placeholder="MM/YY" type="text" shape="rectangle" uiValueUpdate="Input22" status="basic" [ngModel]="value1">
            </div>
            <div class="space Space49211 space49211" >
              <span class="Text400 text400 text-undefined text-alignment-left text-transform-none caption-2">CVC/CVV</span>
              <input nbInput class="Input35 input35 size-xl-medium" placeholder="CVC/CVV" type="text" shape="rectangle" uiValueUpdate="Input35" status="basic" [ngModel]="value2">
            </div>
          </div>
          <div class="space Space482 space482" >
            <span class="Text130 text130 text-undefined text-alignment-left text-transform-none caption-2">Card Number</span>
            
            <nb-form-field class="Input23 input23">
              <nb-icon nbPrefix icon="pricetags"></nb-icon>
              <input nbInput class="size-xl-medium" placeholder="Do you have a coupon?" type="text" shape="rectangle" uiValueUpdate="Input23" status="basic" [ngModel]="value3">
            </nb-form-field>
            
          </div>
        </div>
        <div class="space Space4611 space4611" >
          <button nbButton class="Button9 button9 size-xl-medium" appearance="filled" status="control">
            <nb-icon class="icon btn-icon" icon="star"></nb-icon>
            <span>Cancel</span>
          </button>
          <button nbButton class="Button10 button10 size-xl-medium" appearance="filled" status="primary">
            <nb-icon class="icon btn-icon" icon="star"></nb-icon>
            <span>Pay</span>
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>