<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="SystemMatriculaPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>pe.edu.upeu.modelo.Periodo</class>
    <class>pe.edu.upeu.modelo.Docente</class>
    <class>pe.edu.upeu.modelo.Cursos</class>
    <class>pe.edu.upeu.modelo.Designacion</class>
    <class>pe.edu.upeu.modelo.Matricula</class>
    <class>pe.edu.upeu.modelo.Tipo</class>
    <class>pe.edu.upeu.modelo.Grado</class>
    <class>pe.edu.upeu.modelo.Alumno</class>
    <class>pe.edu.upeu.modelo.Auxiliar</class>
    <class>pe.edu.upeu.modelo.Seccion</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
      <property name="javax.persistence.jdbc.password" value="123456"/>
      <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver"/>
      <property name="javax.persistence.jdbc.user" value="proyecto"/>
    </properties>
  </persistence-unit>
</persistence>
