:host {

  width: 100%;
  height: auto;
  margin: 8px 0;
  display: block;
  
  .heading3 {
    font-size: 18px;
    line-height: initial;
    margin: 0;
    color: var(--text-basic-color);
  }
    
  .space5 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .image1 {
    width: 120px;
    height: 120px;
    border-radius: 50px;
    object-fit: fill;
  }
    
  .space9 {
    height: auto;
    min-height: 2rem;
    width: 58.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon8 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text147 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space91 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon85 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text148 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space54 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon86 {
    margin: 0;
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text149 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space55 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon87 {
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text150 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space56 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space8 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .heading4 {
    font-size: 18px;
    line-height: initial;
    margin: 0 0 16px 0;
    color: var(--text-basic-color);
  }
    
  .text31 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3881 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text32 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38171 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211171 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text33 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38221 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text34 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381121 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111121 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text35 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38321 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text36 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381221 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111221 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text37 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38421 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text38 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381321 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111321 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text39 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38521 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text40 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381421 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111421 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text41 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38681 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text42 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381581 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111581 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text43 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space386121 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text44 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3815121 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text47 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space386221 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text48 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3815221 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text49 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space386321 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text50 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3815321 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text51 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space386421 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text52 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3815421 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text53 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space386521 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text54 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3815521 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text55 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space386631 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text56 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3815631 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221115631 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221115521 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221115421 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221115321 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221115221 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221115121 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text45 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3866121 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text46 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38156121 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211156121 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space102121 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space81 {
    height: auto;
    min-height: 2rem;
    width: 66.66666666666667%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space7 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space6 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .card1 {
    width: 100%;
    height: 100%;
    margin: 8px 0;
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  @media (max-width: 1024px) {
    .image1 {
      width: 120px;
      height: 120px;
    }
    
    .icon8 {
      margin: 0 4px 0 0;
    }
    
    .space55 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      align-items: flex-start;
      align-content: flex-start;
    }
    
    .text150 {
      margin: 0 0 0 8px;
    }
    
    .space56 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      align-items: flex-start;
      align-content: flex-start;
      padding: 8px 8px 8px 0;
    }
    
    .space8 {
      height: auto;
      min-height: 2rem;
      width: 33.333333333333336%;
    }
    
    .text46 {
      margin: 8px 8px 8px 0;
    }
    
    .space38156121 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
    }
    
    .space81 {
      height: auto;
      min-height: 2rem;
      width: 66.66666666666667%;
      margin: 0;
    }
  }
    
  @media (max-width: 768px) {
    .image1 {
      width: 80px;
      height: 80px;
    }
    
    .space9 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space8 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space81 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }width: 100%;
    height: auto;
    margin: 8px 0;
    flex-grow: 0;
  }
    
  @media (max-width: 480px) {
    .image1 {
      width: 80px;
      height: 80px;
    }
    
    .space8 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      margin: 0 0 16px 0;
    }
    
    .space81 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
    
  @media (max-width: 320px) {
    .image1 {
      width: 80px;
      height: 80px;
    }
    
    .space9 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space56 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      margin: 0 0 16px 0;
    }
    
    .space8 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space38156121 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      flex-direction: column;
      padding: 0 0 0 8px;
    }
    
    .space12211156121 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space81 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
  
}