<nb-card class="Card1 card1">
  <nb-card-header>
    <div class="space Space5 space5" >
      <h6 class="Heading3 heading3 text-undefined text-alignment-left text-transform-none">My Information</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space6 space6" >
      <div class="space Space7 space7" >
        <div class="space Space8 space8" >
          <div class="space Space9 space9" >
            <img class="Image1 image1" src="./assets/images/ezgif.com-gif-maker (6)1.jpg">
          </div>
          <div class="space Space91 space91" >
            <nb-icon class="Icon8 icon8" icon="edit"></nb-icon>
            <span class="Text147 text147 text-undefined text-alignment-left text-transform-none subtitle-2">Edit </span>
          </div>
          <div class="space Space54 space54" >
            <nb-icon class="Icon85 icon85" icon="printer-outline"></nb-icon>
            <span class="Text148 text148 text-undefined text-alignment-left text-transform-none subtitle-2">Print</span>
          </div>
          <div class="space Space55 space55" >
            <nb-icon class="Icon86 icon86" icon="download"></nb-icon>
            <span class="Text149 text149 text-undefined text-alignment-left text-transform-none subtitle-2">Download</span>
          </div>
          <div class="space Space56 space56" >
            <nb-icon class="Icon87 icon87" icon="share"></nb-icon>
            <span class="Text150 text150 text-undefined text-alignment-left text-transform-none subtitle-2">Share</span>
          </div>
        </div>
        <div class="space Space81 space81" >
          <h6 class="Heading4 heading4 text-undefined text-alignment-left text-transform-none">Mr. Ajay</h6>
          <div class="space Space102121 space102121" >
            <div class="space Space12211171 space12211171" >
              <div class="space Space3881 space3881" >
                <p class="Text31 text31 text-undefined text-alignment-left text-transform-none paragraph">Name:</p>
              </div>
              <div class="space Space38171 space38171" >
                <p class="Text32 text32 text-undefined text-alignment-left text-transform-none paragraph">Ajay</p>
              </div>
            </div>
            <div class="space Space122111121 space122111121" >
              <div class="space Space38221 space38221" >
                <p class="Text33 text33 text-undefined text-alignment-left text-transform-none paragraph">Class:</p>
              </div>
              <div class="space Space381121 space381121" >
                <p class="Text34 text34 text-undefined text-alignment-left text-transform-none paragraph">6</p>
              </div>
            </div>
            <div class="space Space122111221 space122111221" >
              <div class="space Space38321 space38321" >
                <p class="Text35 text35 text-undefined text-alignment-left text-transform-none paragraph">Section:</p>
              </div>
              <div class="space Space381221 space381221" >
                <p class="Text36 text36 text-undefined text-alignment-left text-transform-none paragraph">A</p>
              </div>
            </div>
            <div class="space Space122111321 space122111321" >
              <div class="space Space38421 space38421" >
                <p class="Text37 text37 text-undefined text-alignment-left text-transform-none paragraph">Roll:</p>
              </div>
              <div class="space Space381321 space381321" >
                <p class="Text38 text38 text-undefined text-alignment-left text-transform-none paragraph">9905</p>
              </div>
            </div>
            <div class="space Space122111421 space122111421" >
              <div class="space Space38521 space38521" >
                <p class="Text39 text39 text-undefined text-alignment-left text-transform-none paragraph">Gender:</p>
              </div>
              <div class="space Space381421 space381421" >
                <p class="Text40 text40 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
              </div>
            </div>
            <div class="space Space122111581 space122111581" >
              <div class="space Space38681 space38681" >
                <p class="Text41 text41 text-undefined text-alignment-left text-transform-none paragraph">Father Name:</p>
              </div>
              <div class="space Space381581 space381581" >
                <p class="Text42 text42 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
            </div>
            <div class="space Space1221115121 space1221115121" >
              <div class="space Space386121 space386121" >
                <p class="Text43 text43 text-undefined text-alignment-left text-transform-none paragraph">Mother Name:</p>
              </div>
              <div class="space Space3815121 space3815121" >
                <p class="Text44 text44 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
              <div class="space Space1221115221 space1221115221" >
                <div class="space Space386221 space386221" >
                  <p class="Text47 text47 text-undefined text-alignment-left text-transform-none paragraph">Date of Birth:</p>
                </div>
                <div class="space Space3815221 space3815221" >
                  <p class="Text48 text48 text-undefined text-alignment-left text-transform-none paragraph">January 31, 1990</p>
                </div>
                <div class="space Space1221115321 space1221115321" >
                  <div class="space Space386321 space386321" >
                    <p class="Text49 text49 text-undefined text-alignment-left text-transform-none paragraph">Father Occupation:</p>
                  </div>
                  <div class="space Space3815321 space3815321" >
                    <p class="Text50 text50 text-undefined text-alignment-left text-transform-none paragraph">Banker</p>
                  </div>
                  <div class="space Space1221115421 space1221115421" >
                    <div class="space Space386421 space386421" >
                      <p class="Text51 text51 text-undefined text-alignment-left text-transform-none paragraph">Religion:</p>
                    </div>
                    <div class="space Space3815421 space3815421" >
                      <p class="Text52 text52 text-undefined text-alignment-left text-transform-none paragraph">---</p>
                    </div>
                    <div class="space Space1221115521 space1221115521" >
                      <div class="space Space386521 space386521" >
                        <p class="Text53 text53 text-undefined text-alignment-left text-transform-none paragraph">Email:</p>
                      </div>
                      <div class="space Space3815521 space3815521" >
                        <p class="Text54 text54 text-undefined text-alignment-left text-transform-none paragraph">Support@example.com</p>
                      </div>
                      <div class="space Space1221115631 space1221115631" >
                        <div class="space Space386631 space386631" >
                          <p class="Text55 text55 text-undefined text-alignment-left text-transform-none paragraph">Admission Date:</p>
                        </div>
                        <div class="space Space3815631 space3815631" >
                          <p class="Text56 text56 text-undefined text-alignment-left text-transform-none paragraph">0/04/2017</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space Space12211156121 space12211156121" >
              <div class="space Space3866121 space3866121" >
                <p class="Text45 text45 text-undefined text-alignment-left text-transform-none paragraph">Address:</p>
              </div>
              <div class="space Space38156121 space38156121" >
                <p class="Text46 text46 text-undefined text-alignment-left text-transform-none paragraph">House#3,Road#34,Canada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>