<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        body {
            column-count: 3;
            column-gap: 60px;
            column-rule: solid;
        }
    </style>
  </head>
  <body>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum
        at iure illum voluptatem eligendi expedita hic reprehenderit perspiciatis
        ullam? Fugiat ex quasi ipsa ipsam eum incidunt consequatur temporibus
        officia. 
    </p>
  </body>
</html>
