<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
      }
      .cyrcle-image {
        border-radius: 50%;
        max-width: 25em;
        float: right;
        margin-right: -10em;
      }
      .start-image {
        float: left;
        clip-path: polygon(
          50% 0%,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          21% 91%,
          32% 57%,
          2% 35%,
          39% 35%
        );
      }
    </style>
  </head>
  <body>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Cairo_city%2C_Egypt.jpg/300px-Cairo_city%2C_Egypt.jpg"
      alt=""
      class="cyrcle-image"
    />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Cairo_city%2C_Egypt.jpg/300px-Cairo_city%2C_Egypt.jpg"
      alt=""
      class="start-image"
    />
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
        accusantium molestias omnis eum ratione est deleniti reprehenderit natus
        eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
        laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
        aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
        natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
        ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. At aut, accusantium molestias omnis eum ratione est deleniti
        reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
        labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. At aut, accusantium molestias omnis eum ratione est
        deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
        facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. At aut, accusantium molestias omnis eum
        ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
        explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
        amet consectetur adipisicing elit.
      </p>
  </body>
</html>
