<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
      }
      .cyrcle-image {
        border-radius: 50%;
        shape-outside: circle(50%) border-box;
        shape-margin: 5px;
        max-width: 25em;
        float: right;
        margin-right: -10em;
      }
      .start-image {
        float: left;
        shape-margin: 5px;
        clip-path: polygon(
          50% 0%,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          21% 91%,
          32% 57%,
          2% 35%,
          39% 35%
        );
        shape-outside: polygon(
          50% 0%,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          21% 91%,
          32% 57%,
          2% 35%,
          39% 35%
        ) border-box;
      }
      .gengar-image {
        width: 300px;
        float: right;
        shape-margin: 5px;
        clip-path: polygon(22% 4%, 5% 24%, 15% 48%, 8% 68%, 21% 85%, 61% 95%, 69% 67%, 100% 47%, 73% 45%, 96% 29%, 65% 15%, 52% 17%);
        shape-outside: polygon(22% 4%, 5% 24%, 15% 48%, 8% 68%, 21% 85%, 61% 95%, 69% 67%, 100% 47%, 73% 45%, 96% 29%, 65% 15%, 52% 17%);
        
      }

      @media (max-width: 540px) {
        .cyrcle-image {
            margin: 1em;
            shape-outside: unset;
        }
        .start-image {
            margin: 1em;
            shape-outside: unset;
        }
        
      }
    </style>
  </head>
  <body>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Cairo_city%2C_Egypt.jpg/300px-Cairo_city%2C_Egypt.jpg"
      alt=""
      class="cyrcle-image"
    />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Cairo_city%2C_Egypt.jpg/300px-Cairo_city%2C_Egypt.jpg"
      alt=""
      class="start-image"
    />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
    <img
      src="https://e7.pngegg.com/pngimages/110/445/png-clipart-pokemon-go-pokemon-red-and-blue-pokemon-x-and-y-gengar-haunter-pokemon-go-purple-violet.png"
      alt=""
      class="gengar-image"
    />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. At aut,
      accusantium molestias omnis eum ratione est deleniti reprehenderit natus
      eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos ipsum
      laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
      aut, accusantium molestias omnis eum ratione est deleniti reprehenderit
      natus eveniet. Voluptate ea suscipit, explicabo facilis labore hic quos
      ipsum laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. At aut, accusantium molestias omnis eum ratione est deleniti
      reprehenderit natus eveniet. Voluptate ea suscipit, explicabo facilis
      labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. At aut, accusantium molestias omnis eum ratione est
      deleniti reprehenderit natus eveniet. Voluptate ea suscipit, explicabo
      facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. At aut, accusantium molestias omnis eum
      ratione est deleniti reprehenderit natus eveniet. Voluptate ea suscipit,
      explicabo facilis labore hic quos ipsum laudantium! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit.
    </p>
  </body>
</html>
