<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
      }

      p:not(:last-child) {
        margin-bottom: 1em;
      }

      body {
        min-height: 100vh;
        padding: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      main {
        text-align: center;
        max-width: 450px;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>The 100vh</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sequi
        doloremque dicta voluptatum repudiandae? Officia provident optio
        eligendi dolor saepe! Cupiditate vel, labore deleniti aut dolorum
        aspernatur consequatur voluptas repudiandae.
      </p>
    </main>
  </body>
</html>
