:host {
  
  .space341 {
    height: 560px;
    width: 300px;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 16px 0 16px 16px;
    overflow: visible;
    background-color: unset;
    background-size: cover;
    background-image: url('/assets/images/woman-in-black-scoop-neck-shirt-smiling-38554.jpg');
  }
    
  .heading37 {
    font-size: 18px;
    line-height: initial;
    margin: 0 0 16px 0;
    color: var(--text-basic-color);
  }
    
  .text236 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38812111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text237 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381712111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111712111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text238 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space382212111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text239 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3811212111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221111212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text240 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space383212111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text241 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3812212111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221112212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text242 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space384212111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text243 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3813212111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221113212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text244 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space385212111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text245 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3814212111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221114212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text246 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space386812111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text247 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3815812111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221115812111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text248 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3861212111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text249 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38151212111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text252 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3862212111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text253 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38152212111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text254 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3863212111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text255 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38153212111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text256 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3864212111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text257 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38154212111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text258 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3865212111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text259 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38155212111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text260 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3866312111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text261 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38156312111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211156312111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211155212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211154212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211153212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211152212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211151212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text250 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38661212111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text251 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381561212111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111561212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1021212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space812111 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 16px 0 16px 16px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space332 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  .space3212121 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space410 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space3311 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0 0 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1611 {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  @media (max-width: 1024px) {
    .space341 {
      height: 600px;
      width: 300px;
    }
    
    .space381712111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space3811212111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space3812212111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space3813212111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space3814212111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space3815812111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space38151212111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space38152212111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space38153212111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      align-items: center;
      align-content: center;
      padding: 0 0 0 16px;
    }
    
    .space38154212111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space38155212111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space38156312111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space12211153212111 {
      align-items: center;
      align-content: center;
    }
    
    .text251 {
      margin: 8px 8px 8px 0;
    }
    
    .space381561212111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0 0 16px;
    }
    
    .space812111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      margin: 24px 0 24px 24px;
    }
    
    .space1611 {
      height: 100%;
      flex-grow: 1;
      flex-basis: 0;
    }
  }
    
  @media (max-width: 768px) {
    .space341 {
      height: 600px;
      width: 300px;
      display: none;
    }
    
    .space3212121 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space410 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space1611 {
      height: 100%;
      flex-grow: 1;
      flex-basis: 0;
    }
  }
    
  @media (max-width: 320px) {
    .space812111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
  
}