<div class="space Space1611 space1611" >
  <div class="space Space3212121 space3212121" >
    <app-card1411></app-card1411>
    <div class="space Space332 space332" >
      <div class="space Space341 space341" >
        
      </div>
      <div class="space Space812111 space812111" >
        <h6 class="Heading37 heading37 text-undefined text-alignment-left text-transform-none">Mrs. Alesya</h6>
        <div class="space Space1021212111 space1021212111" >
          <div class="space Space122111712111 space122111712111" >
            <div class="space Space38812111 space38812111" >
              <p class="Text236 text236 text-undefined text-alignment-left text-transform-none paragraph">Name:</p>
            </div>
            <div class="space Space381712111 space381712111" >
              <p class="Text237 text237 text-undefined text-alignment-left text-transform-none paragraph">Ajay</p>
            </div>
          </div>
          <div class="space Space1221111212111 space1221111212111" >
            <div class="space Space382212111 space382212111" >
              <p class="Text238 text238 text-undefined text-alignment-left text-transform-none paragraph">Class:</p>
            </div>
            <div class="space Space3811212111 space3811212111" >
              <p class="Text239 text239 text-undefined text-alignment-left text-transform-none paragraph">6</p>
            </div>
          </div>
          <div class="space Space1221112212111 space1221112212111" >
            <div class="space Space383212111 space383212111" >
              <p class="Text240 text240 text-undefined text-alignment-left text-transform-none paragraph">Section:</p>
            </div>
            <div class="space Space3812212111 space3812212111" >
              <p class="Text241 text241 text-undefined text-alignment-left text-transform-none paragraph">A</p>
            </div>
          </div>
          <div class="space Space1221113212111 space1221113212111" >
            <div class="space Space384212111 space384212111" >
              <p class="Text242 text242 text-undefined text-alignment-left text-transform-none paragraph">Roll:</p>
            </div>
            <div class="space Space3813212111 space3813212111" >
              <p class="Text243 text243 text-undefined text-alignment-left text-transform-none paragraph">9905</p>
            </div>
          </div>
          <div class="space Space1221114212111 space1221114212111" >
            <div class="space Space385212111 space385212111" >
              <p class="Text244 text244 text-undefined text-alignment-left text-transform-none paragraph">Gender:</p>
            </div>
            <div class="space Space3814212111 space3814212111" >
              <p class="Text245 text245 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
            </div>
          </div>
          <div class="space Space1221115812111 space1221115812111" >
            <div class="space Space386812111 space386812111" >
              <p class="Text246 text246 text-undefined text-alignment-left text-transform-none paragraph">Father Name:</p>
            </div>
            <div class="space Space3815812111 space3815812111" >
              <p class="Text247 text247 text-undefined text-alignment-left text-transform-none paragraph">---</p>
            </div>
          </div>
          <div class="space Space12211151212111 space12211151212111" >
            <div class="space Space3861212111 space3861212111" >
              <p class="Text248 text248 text-undefined text-alignment-left text-transform-none paragraph">Mother Name:</p>
            </div>
            <div class="space Space38151212111 space38151212111" >
              <p class="Text249 text249 text-undefined text-alignment-left text-transform-none paragraph">---</p>
            </div>
            <div class="space Space12211152212111 space12211152212111" >
              <div class="space Space3862212111 space3862212111" >
                <p class="Text252 text252 text-undefined text-alignment-left text-transform-none paragraph">Date of Birth:</p>
              </div>
              <div class="space Space38152212111 space38152212111" >
                <p class="Text253 text253 text-undefined text-alignment-left text-transform-none paragraph">January 31, 1990</p>
              </div>
              <div class="space Space12211153212111 space12211153212111" >
                <div class="space Space3863212111 space3863212111" >
                  <p class="Text254 text254 text-undefined text-alignment-left text-transform-none paragraph">Father Occupation:</p>
                </div>
                <div class="space Space38153212111 space38153212111" >
                  <p class="Text255 text255 text-undefined text-alignment-left text-transform-none paragraph">Banker</p>
                </div>
                <div class="space Space12211154212111 space12211154212111" >
                  <div class="space Space3864212111 space3864212111" >
                    <p class="Text256 text256 text-undefined text-alignment-left text-transform-none paragraph">Religion:</p>
                  </div>
                  <div class="space Space38154212111 space38154212111" >
                    <p class="Text257 text257 text-undefined text-alignment-left text-transform-none paragraph">---</p>
                  </div>
                  <div class="space Space12211155212111 space12211155212111" >
                    <div class="space Space3865212111 space3865212111" >
                      <p class="Text258 text258 text-undefined text-alignment-left text-transform-none paragraph">Email:</p>
                    </div>
                    <div class="space Space38155212111 space38155212111" >
                      <p class="Text259 text259 text-undefined text-alignment-left text-transform-none paragraph">Support@example.com</p>
                    </div>
                    <div class="space Space12211156312111 space12211156312111" >
                      <div class="space Space3866312111 space3866312111" >
                        <p class="Text260 text260 text-undefined text-alignment-left text-transform-none paragraph">Admission Date:</p>
                      </div>
                      <div class="space Space38156312111 space38156312111" >
                        <p class="Text261 text261 text-undefined text-alignment-left text-transform-none paragraph">0/04/2017</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space Space122111561212111 space122111561212111" >
            <div class="space Space38661212111 space38661212111" >
              <p class="Text250 text250 text-undefined text-alignment-left text-transform-none paragraph">Address:</p>
            </div>
            <div class="space Space381561212111 space381561212111" >
              <p class="Text251 text251 text-undefined text-alignment-left text-transform-none paragraph">House#3,Road#34,Canada</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space Space3311 space3311" >
    <div class="space Space410 space410" >
      <app-card15></app-card15>
    </div>
  </div>
</div>