<table class="table Table12 table12">
  <thead>
    <th class="column1">
      <div class="space Space182 space182" >
        <span class="Text57 text57 text-undefined text-alignment-left text-transform-none subtitle">Hostel</span>
      </div>
    </th>
    <th class="column2">
      <div class="space Space192 space192" >
        <span class="Text58 text58 text-undefined text-alignment-left text-transform-none subtitle">Room No</span>
      </div>
    </th>
    <th class="column3">
      <div class="space Space265 space265" >
        <span class="Space268 space268 text-undefined text-alignment-left text-transform-none subtitle">Room Type</span>
      </div>
    </th>
    <th class="column4">
      <div class="space Space275 space275" >
        <span class="Space278 space278 text-undefined text-alignment-left text-transform-none subtitle">No Of Bed</span>
      </div>
    </th>
    <th class="column5">
      <div class="space Space2811 space2811" >
        <span class="Space284 space284 text-undefined text-alignment-left text-transform-none subtitle">Cost Per Bed</span>
      </div>
    </th>
    <th class="column6">
      <div class="space Space2911 space2911" >
        <span class="Space294 space294 text-undefined text-alignment-left text-transform-none subtitle">Action</span>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="Table12_Row table12-row">  
      <td class="slot">
        <div class="space Space202 space202" >
          <nb-checkbox class="Checkbox checkbox" status="success" uiValueUpdate="Checkbox" [ngModel]="value">{{ label }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space222 space222" >
          <p class="Text59 text59 text-undefined text-alignment-left text-transform-none paragraph">204</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space266 space266" >
          <p class="Text61 text61 text-undefined text-alignment-left text-transform-none paragraph">Big</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space276 space276" >
          <p class="Text63 text63 text-undefined text-alignment-left text-transform-none paragraph">3</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2821 space2821" >
          <p class="Text65 text65 text-undefined text-alignment-left text-transform-none paragraph">$110</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2921 space2921" >
          <nb-icon class="Icon33 icon33" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon34 icon34" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon35 icon35" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table12_Row1 table12-row1">  
      <td class="slot">
        <div class="space Space232 space232" >
          <nb-checkbox class="Checkbox1 checkbox1" status="success" uiValueUpdate="Checkbox1" [ngModel]="value1">{{ label1 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space242 space242" >
          <p class="Text60 text60 text-undefined text-alignment-left text-transform-none paragraph">205</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space267 space267" >
          <p class="Text62 text62 text-undefined text-alignment-left text-transform-none paragraph">Medium</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space277 space277" >
          <p class="Text64 text64 text-undefined text-alignment-left text-transform-none paragraph">2</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2831 space2831" >
          <p class="Text66 text66 text-undefined text-alignment-left text-transform-none paragraph">$100</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2931 space2931" >
          <nb-icon class="Icon36 icon36" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon37 icon37" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon38 icon38" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
  </tbody>
</table>