:host {

  width: 100%;
  height: auto;
  display: block;
  
  .text57 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space182 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text58 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space192 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space268 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space265 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space278 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space275 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space284 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space2811 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space294 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space2911 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .checkbox {
    margin: 0 0 8px 0;
  }
    
  .space202 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text59 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space222 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text61 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space266 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text63 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space276 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text65 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2821 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon33 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon34 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon35 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space2921 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12-row {
    background-color: unset;
  }
    
  .checkbox1 {
    margin: 0 0 8px 0;
  }
    
  .space232 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text60 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space242 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text62 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space267 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text64 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space277 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text66 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2831 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon36 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon37 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon38 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space2931 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12-row1 {
    background-color: unset;
  }
    
  .table12 {
  
    width: 100%;
    height: 100%;
    background-color: unset;
    
    .column1 {
      width: 110px;
    }  
    .column2 {
      width: 90px;
    }  
    .column3 {
      width: 100px;
    }  
    .column4 {
      width: 100px;
    }  
    .column5 {
      width: 120px;
    }  
    .column6 {
      width: 100px;
    }
  }  
  @media (max-width: 1024px) {
    .space232 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
    }width: 100%;
    height: auto;
    flex-grow: 0;
  }
  
}