<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">proyecto</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.connection.pool_size">1</property>  
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="show_sql">true</property>		
    <property name="hbm2ddl.auto">update</property>
    <mapping class="pe.edu.upeu.modelo.Periodo" />
    <mapping class="pe.edu.upeu.modelo.Docente" />
    <mapping class="pe.edu.upeu.modelo.Cursos" />
    <mapping class="pe.edu.upeu.modelo.Designacion" />
    <mapping class="pe.edu.upeu.modelo.Matricula" />
    <mapping class="pe.edu.upeu.modelo.Tipo" />
    <mapping class="pe.edu.upeu.modelo.Grado" />
    <mapping class="pe.edu.upeu.modelo.Alumno" />
    <mapping class="pe.edu.upeu.modelo.Auxiliar" />
    <mapping class="pe.edu.upeu.modelo.Seccion" />
    
  </session-factory>
</hibernate-configuration>
