<nb-card class="Card1121 card1121">
  <nb-card-body>
    <div class="space Space3121 space3121" >
      <div class="space Space302 space302" >
        <nb-icon class="Icon23 icon23 giant" icon="cube"></nb-icon>
      </div>
      <div class="space Space30111 space30111" >
        
      </div>
      <div class="space Space3011 space3011" >
        <h4 class="Heading8 heading8 text-undefined text-alignment-left text-transform-none">8</h4>
        <p class="Text28 text28 text-undefined text-alignment-left text-transform-none paragraph">Subjects</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>