<nb-card class="Card12 card12">
  <nb-card-header>
    <div class="space Space51 space51" >
      <h6 class="Heading28 heading28 text-undefined text-alignment-left text-transform-none">Notice Board</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space61 space61" >
      <div class="space Space142 space142" >
        <div class="space Space143 space143" >
          <img class="Image11 image11" src="./assets/images/nick.jpg">
        </div>
        <div class="space Space1411 space1411" >
          <span class="Text151 text151 text-undefined text-alignment-left text-transform-none subtitle">Alex</span>
          <p class="Text152 text152 text-undefined text-alignment-left text-transform-none paragraph">April weekends Information</p>
          <span class="Text153 text153 text-undefined text-alignment-left text-transform-none caption">1 min ago</span>
        </div>
        <div class="Divider3 divider3"></div>
      </div>
      <div class="space Space1421 space1421" >
        <div class="space Space1431 space1431" >
          <img class="Image12 image12" src="./assets/images/jojo-min.jpg">
        </div>
        <div class="space Space14111 space14111" >
          <span class="Text154 text154 text-undefined text-alignment-left text-transform-none subtitle">James</span>
          <p class="Text155 text155 text-undefined text-alignment-left text-transform-none paragraph">Procrastination lecture</p>
          <span class="Text156 text156 text-undefined text-alignment-left text-transform-none caption">5 min ago</span>
        </div>
        <div class="Divider4 divider4"></div>
      </div>
      <div class="space Space1422 space1422" >
        <div class="space Space1432 space1432" >
          <img class="Image13 image13" src="./assets/images/joe.jpg">
        </div>
        <div class="space Space14112 space14112" >
          <span class="Text157 text157 text-undefined text-alignment-left text-transform-none subtitle">Nick</span>
          <p class="Text158 text158 text-undefined text-alignment-left text-transform-none paragraph">Homework questions</p>
          <span class="Text159 text159 text-undefined text-alignment-left text-transform-none caption">10 min ago</span>
        </div>
        <div class="Divider5 divider5"></div>
      </div>
      <div class="space Space1423 space1423" >
        <div class="space Space1433 space1433" >
          <img class="Image14 image14" src="./assets/images/elora.jpg">
        </div>
        <div class="space Space14113 space14113" >
          <span class="Text160 text160 text-undefined text-alignment-left text-transform-none subtitle">Jesica</span>
          <p class="Text161 text161 text-undefined text-alignment-left text-transform-none paragraph">English classes</p>
          <span class="Text162 text162 text-undefined text-alignment-left text-transform-none caption">30 min ago</span>
        </div>
        <div class="Divider6 divider6"></div>
      </div>
      <div class="space Space1424 space1424" >
        <div class="space Space1434 space1434" >
          <img class="Image15 image15" src="./assets/images/mary.jpg">
        </div>
        <div class="space Space14114 space14114" >
          <span class="Text163 text163 text-undefined text-alignment-left text-transform-none subtitle">Pamelo</span>
          <p class="Text164 text164 text-undefined text-alignment-left text-transform-none paragraph">Active school weeks</p>
          <span class="Text165 text165 text-undefined text-alignment-left text-transform-none caption">40 min ago</span>
        </div>
        <div class="Divider7 divider7"></div>
      </div>
    </div>
  </nb-card-body>
</nb-card>