<div class="space Space50 space50" >
  <div class="space Space551 space551" >
    <div class="space Space5421 space5421" >
      <img class="Image27 image27" src="./assets/images/ezgif.com-gif-maker (11).jpg">
    </div>
    <div class="space Space60 space60" >
      <h4 class="Heading42 heading42 text-undefined text-alignment-center text-transform-none">Page Not found</h4>
      <p class="Text399 text399 text-undefined text-alignment-center text-transform-none paragraph">We can't find the page you are looking for. You can either return to you preious page, visit our homepage or contact our support team.</p>
    </div>
    <div class="space Space64 space64" >
      <button nbButton class="Button19 button19 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>VISIT HOMEPAGE</span>
      </button>
      <button nbButton class="Button20 button20 size-xl-medium" appearance="filled" status="basic">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>CONTACT US</span>
      </button>
    </div>
  </div>
</div>