:host {
  
  .image27 {
    width: 250px;
    height: auto;
    border-radius: 0;
    object-fit: fill;
  }
    
  .space5421 {
    height: auto;
    min-height: 2rem;
    width: 200px;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0 0 16px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .heading42 {
    font-size: 26px;
    line-height: initial;
    margin: 0 0 8px 0;
    color: var(--text-basic-color);
  }
    
  .text399 {
    font-size: 15px;
    line-height: initial;
    color: var(--text-basic-color);
  }
    
  .space60 {
    height: auto;
    min-height: 2rem;
    width: 83.33333333333333%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0 0 16px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .button19 {
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
    > nb-icon {
      color: inherit;
    }
  }
    
  .button20 {
    margin: 0 0 0 16px;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
    > nb-icon {
      color: inherit;
    }
  }
    
  .space64 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space551 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 64px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space50 {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    padding: 80px 0 0 0;
    overflow: visible;
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  @media (max-width: 1024px) {
    .image27 {
      margin: 0 0 32px 0;
      width: 250px;
      height: auto;
    }
    
    .space5421 {
      height: 200px;
      width: 200px;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: center;
      margin: 0;
    }
    
    .space60 {
      height: auto;
      min-height: 2rem;
      width: 83.33333333333333%;
      margin: 16px 0;
    }
    
    .button19 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .button20 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .space551 {
      height: auto;
      min-height: 2rem;
      width: 66.66666666666667%;
    }
    
    .space50 {
      align-items: center;
      align-content: center;
      justify-content: center;
      background-color: var(--background-basic-color-1);
      background-size: contain;
      background-image: none;
    }
  }
    
  @media (max-width: 768px) {
    .space60 {
      height: auto;
      min-height: 2rem;
      width: 83.33333333333333%;
    }
    
    .button19 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .button20 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .space551 {
      height: auto;
      min-height: 2rem;
      width: 83.33333333333333%;
    }
  }
    
  @media (max-width: 480px) {
    .image27 {
      width: 220px;
      height: auto;
    }
    
    .space5421 {
      height: 150px;
      width: 150px;
      margin: 0 0 32px 0;
    }
    
    .space60 {
      height: auto;
      min-height: 2rem;
      width: 83.33333333333333%;
      margin: 16px 0;
    }
    
    .button19 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .button20 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .space551 {
      height: auto;
      min-height: 2rem;
      width: 91.66666666666667%;
    }
  }
    
  @media (max-width: 320px) {
    .image27 {
      width: 220px;
      height: auto;
    }
    
    .space5421 {
      height: 100px;
      width: 100%;
      padding: 0;
      margin: 0 0 20px 0;
    }
    
    .space60 {
      height: auto;
      min-height: 2rem;
      width: 83.33333333333333%;
      margin: 84px 0 16px 0;
    }
    
    .button19 {
      margin: 0 0 18px 0;
      width: 100%;
      > nb-icon {
        color: inherit;
      }
    }
    
    .button20 {
      margin: 0;
      width: 100%;
      > nb-icon {
        color: inherit;
      }
    }
    
    .space50 {
      height: 100%;
      width: 100%;
      align-items: flex-start;
      align-content: flex-start;
      padding: 48px 0 0 0;
    }
  }
  
}