<nb-card class="Card222 card222">
  <nb-card-header>
    <div class="space Space1442 space1442" >
      <div class="space Space1732 space1732" >
        <h6 class="Heading19 heading19 text-undefined text-alignment-left text-transform-none">Subjects</h6>
      </div>
      <div class="space Space17122 space17122" >
        <input nbInput class="Input18 input18 size-xl-small" placeholder="Search" type="text" shape="rectangle" uiValueUpdate="Input18" status="basic" [ngModel]="value">
        <div class="space Space65 space65" >
          <nb-icon class="Icon52 icon52" icon="download-outline"></nb-icon>
          <nb-icon class="Icon53 icon53" icon="settings-2-outline"></nb-icon>
          <nb-icon class="Icon54 icon54" icon="sync"></nb-icon>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space1522 space1522" >
      <app-table122></app-table122>
    </div>
  </nb-card-body>
</nb-card>