<table class="table Table1 table1">
  <thead>
    <th class="column1">
      <div class="space Space18 space18" >
        <span class="Text2 text2 text-undefined text-alignment-left text-transform-none subtitle">Exam</span>
      </div>
    </th>
    <th class="column2">
      <div class="space Space19 space19" >
        <span class="Text1 text1 text-undefined text-alignment-left text-transform-none subtitle">Subject</span>
      </div>
    </th>
    <th class="column3">
      <div class="space Space26 space26" >
        <span class="Space261 space261 text-undefined text-alignment-left text-transform-none subtitle">Grade Point</span>
      </div>
    </th>
    <th class="column4">
      <div class="space Space27 space27" >
        <span class="Space271 space271 text-undefined text-alignment-left text-transform-none subtitle">Percent Form</span>
      </div>
    </th>
    <th class="column5">
      <div class="space Space28 space28" >
        <span class="Space281 space281 text-undefined text-alignment-left text-transform-none subtitle">Percent Upto</span>
      </div>
    </th>
    <th class="column6">
      <div class="space Space29 space29" >
        <span class="Space291 space291 text-undefined text-alignment-left text-transform-none subtitle">Date</span>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="Table1_Row table1-row">  
      <td class="slot">
        <div class="space Space20 space20" >
          <p class="Text3 text3 text-undefined text-alignment-left text-transform-none paragraph">Class Test</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space22 space22" >
          <p class="Text5 text5 text-undefined text-alignment-left text-transform-none paragraph">Math</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space262 space262" >
          <p class="Text7 text7 text-undefined text-alignment-left text-transform-none paragraph">4.00</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space272 space272" >
          <p class="Text9 text9 text-undefined text-alignment-left text-transform-none paragraph">95.00</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space282 space282" >
          <p class="Text11 text11 text-undefined text-alignment-left text-transform-none paragraph">100.00</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space292 space292" >
          <p class="Text13 text13 text-undefined text-alignment-left text-transform-none paragraph">20/04/2017</p>
        </div>
      </td>
    </tr>
    <tr class="Table1_Row1 table1-row1">  
      <td class="slot">
        <div class="space Space23 space23" >
          <p class="Text4 text4 text-undefined text-alignment-left text-transform-none paragraph">Class Test</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space24 space24" >
          <p class="Text6 text6 text-undefined text-alignment-left text-transform-none paragraph">English</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space263 space263" >
          <p class="Text8 text8 text-undefined text-alignment-left text-transform-none paragraph">4.00</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space273 space273" >
          <p class="Text10 text10 text-undefined text-alignment-left text-transform-none paragraph">95.00</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space283 space283" >
          <p class="Text12 text12 text-undefined text-alignment-left text-transform-none paragraph">100.00</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space293 space293" >
          <p class="Text14 text14 text-undefined text-alignment-left text-transform-none paragraph">20/04/2017</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>