<nb-card class="Card1122 card1122">
  <nb-card-body>
    <div class="space Space3122 space3122" >
      <div class="space Space303 space303" >
        <nb-icon class="Icon24 icon24 giant" icon="bell"></nb-icon>
      </div>
      <div class="space Space30121 space30121" >
        
      </div>
      <div class="space Space3012 space3012" >
        <h4 class="Heading9 heading9 text-undefined text-alignment-left text-transform-none">6</h4>
        <p class="Text29 text29 text-undefined text-alignment-center text-transform-none paragraph">Missed classes</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>