<nb-card class="Card1411 card1411">
  <nb-card-header>
    <div class="space Space5311 space5311" >
      <h4 class="Heading17 heading17 text-undefined text-alignment-left text-transform-none">Teacher Details</h4>
      <div class="space Space171121 space171121" >
        <nb-icon class="Icon48 icon48" nbTooltip="Edit" icon="edit"></nb-icon>
        <nb-icon class="Icon49 icon49" nbTooltip="Print" icon="printer-outline"></nb-icon>
        <nb-icon class="Icon50 icon50" nbTooltip="Download" icon="download-outline"></nb-icon>
        <nb-icon class="Icon51 icon51" icon="more-vertical"></nb-icon>
        <nb-icon class="Icon115 icon115" nbTooltip="Share" icon="share"></nb-icon>
        <nb-icon class="Icon116 icon116" nbTooltip="Settings" icon="settings-2-outline"></nb-icon>
        <nb-icon class="Icon117 icon117" nbTooltip="Sync" icon="sync"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space6311 space6311" >
      
    </div>
  </nb-card-body>
</nb-card>