body {
    margin: 0px;
    background-color: #C6D7E1;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Home_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:310px;
    top:80px;
    width:610px;
    height:400px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:616px;
    height:406px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:606px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Home_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:320px;
    top:90px;
    width:590px;
    height:380px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:596px;
    height:386px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:586px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Home_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:320px;
    top:90px;
    width:590px;
    height:140px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:596px;
    height:146px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:586px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Home_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:331px;
    top:96px;
    width:129px;
    height:214px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:214px;
}

.u7 {
    position:absolute;
    left:3px;
    top:99px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:505px;
    top:305px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:490px;
    top:345px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:580px;
    top:300px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000082;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:580px;
    top:340px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000082;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:600px;
    top:385px;
    width:55px;
    height:24px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000082;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:680px;
    top:385px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000082;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:541px;
    top:440px;
    width:65px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 9px;
    color:#000082;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:616px;
    top:440px;
    width:65px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 9px;
    color:#000082;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:686px;
    top:440px;
    width:55px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 9px;
    color:#000082;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:749px;
    top:440px;
    width:50px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 9px;
    color:#000082;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:525px;
    top:157px;
    width:290px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

