body{
    font-family:Helvetica;
    font-size:12px;
}
.body{
    width: 94%;
    height: 90%;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}


/* ���� My Form ���� */
.myformBusqueda{
    margin:0% 0% 0% 0%;
    width:97%;

    padding:14px;
}

/* ���� stylized ���� */
#stylizedBusqueda{
    color: #FFFFFF;
    border:solid 2px crimson;
    background: brown;
    border-top-left-radius: 5px;
    border-top-right-radius:  5px;
}
#stylizedBusqueda h1 {
    color:#FFFFFF;
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
#stylizedBusqueda p{
    font-size:11px;
    color:#FFFFFF;
    margin-bottom:20px;
    border-bottom:solid 1px white;
    padding-bottom:10px;
}
#stylizedBusqueda label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}
#stylizedBusqueda .small{
    color:#FFFFFF;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
#stylizedBusqueda input[type=search]{
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 20px;
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px lightpink;
    width:55%;
    margin:0px 0 20px 10px;

}

#stylizedBusqueda textarea{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px lightpink;
    width:200px;
    margin:2px 0 20px 10px;
}

#stylizedBusqueda select{

    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px lightpink;
    width:200px;
    margin:2px 0 20px 10px;
}

#stylizedBusqueda input[type=radio]{

    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px lightpink;
    width:20px;
    margin:2px 0 10px 10px;
}

#stylizedBusqueda button{
    clear:both;
    margin-left:10px;
    width:125px;
    height:31px;
    background:#DC143C url(../img/icons/buscar.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    border-radius: 15px;
}
#stylizedBusqueda button:hover{
    clear:both;
    margin-left:10px;
    width:125px;
    height:31px;
    background:#fa8072 url(../img/icons/buscar.png) no-repeat;
    text-align:center;
    line-height:31px;
    color: #DC143C;
    font-size:11px;
    font-weight:bold;
    border-radius: 15px;
    border-width: 1px;
    cursor: pointer;
}

#stylizedBusqueda input[type=button]{
    clear:both;
    margin-left:10px;
    width:125px;
    height:31px;
    background:#DC143C url(../img/icons/buscar.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    border-radius: 15px;
}

#stylizedBusqueda input[type=button]:hover{
    clear:both;
    margin-left:10px;
    width:125px;
    height:31px;
    background:#FFFFFF url(../img/icons/buscar.png) no-repeat;
    text-align:center;
    line-height:31px;
    color: #DC143C;
    font-size:11px;
    font-weight:bold;
    border-radius: 15px;
}