<nb-card class="Card212 card212">
  <nb-card-header>
    <div class="space Space1413 space1413" >
      <div class="space Space1722 space1722" >
        <h6 class="Heading29 heading29 text-undefined text-alignment-left text-transform-none">Recent Project</h6>
      </div>
      <div class="space Space17113 space17113" >
        <nb-icon class="Icon88 icon88" nbTooltip="Download" icon="download"></nb-icon>
        <nb-icon class="Icon89 icon89" nbTooltip="Settings" icon="settings-2-outline"></nb-icon>
        <nb-icon class="Icon90 icon90" nbTooltip="Sync" icon="sync-outline"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space1512 space1512" >
      <app-table111></app-table111>
    </div>
  </nb-card-body>
</nb-card>