<nb-card class="Card22 card22">
  <nb-card-header>
    <div class="space Space144 space144" >
      <div class="space Space173 space173" >
        <h6 class="Heading12 heading12 text-undefined text-alignment-left text-transform-none">Hostels</h6>
      </div>
      <div class="space Space1712 space1712" >
        <input nbInput class="Input3 input3 size-xl-small" placeholder="Search" type="text" shape="rectangle" uiValueUpdate="Input3" status="basic" [ngModel]="value">
        <div class="space Space68 space68" >
          <nb-icon class="Icon30 icon30" icon="download-outline"></nb-icon>
          <nb-icon class="Icon301 icon301" icon="settings-2-outline"></nb-icon>
          <nb-icon class="Icon302 icon302" icon="sync-outline"></nb-icon>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space152 space152" >
      <app-table12></app-table12>
    </div>
  </nb-card-body>
</nb-card>