:host {

  width: calc(100% - 8px);
  height: auto;
  margin: 0 8px 8px 0;
  display: block;
  
  .heading43 {
    font-size: 18px;
    line-height: initial;
    margin: 0;
    color: var(--text-basic-color);
  }
    
  .space54111111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text401 {
    font-size: 12px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-hint-color);
  }
    
  .select14 {
    margin: 4px 0 20px 0;
    width: 100%;
  }
    
  .text402 {
    font-size: 12px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-hint-color);
  }
    
  .select15 {
    margin: 4px 0 20px 0;
    width: 100%;
  }
    
  .text403 {
    font-size: 12px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-hint-color);
  }
    
  .select16 {
    margin: 4px 0 20px 0;
    width: 100%;
  }
    
  .space72212211 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0 16px 0 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text404 {
    font-size: 12px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-hint-color);
  }
    
  .select17 {
    margin: 4px 0 20px 0;
    width: 100%;
  }
    
  .text405 {
    font-size: 12px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-hint-color);
  }
    
  .input36 {
    margin: 4px 0 20px 0;
    width: 100%;
  }
    
  .space7221211111 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 16px 0 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .button21 {
    margin: 0 8px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
    > nb-icon {
      color: inherit;
    }
  }
    
  .button22 {
    margin: 0 8px 0 4px;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
    > nb-icon {
      color: inherit;
    }
  }
    
  .space72212121121 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space64111111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .card15111111 {
    width: 100%;
    height: 100%;
    margin: 0 8px 8px 0;
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  @media (max-width: 1024px) {
    .space7221211111 {
      margin: 0 0 0 24px;
    }
    
    .button21 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .button22 {
      > nb-icon {
        color: inherit;
      }
    }
  }
    
  @media (max-width: 768px) {
    .space72212211 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space7221211111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      margin: 0;
    }
    
    .button21 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .button22 {
      > nb-icon {
        color: inherit;
      }
    }width: 100%;
    height: auto;
    margin: 8px 0;
    flex-grow: 0;
  }
    
  @media (max-width: 480px) {
    .space72212211 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space7221211111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .button21 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .button22 {
      > nb-icon {
        color: inherit;
      }
    }
  }
    
  @media (max-width: 320px) {
    .button21 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .button22 {
      > nb-icon {
        color: inherit;
      }
    }
  }
  
}