<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title><%= username %></title>
</head>

<body>

    <div class="main-container">
        <section class="intro">
            <div class="intro-container">
                <h1>
                    <%= mainSlogan %>
                </h1>
                <p><%= mainMessage %></p>
                <div class="container-graphic creative"></div>
            </div>

        </section>
        <span>
        </span>
    </div>
</body>

</html>