:host {

  width: 100%;
  height: auto;
  display: block;
  
  .text113 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space1822 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text114 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space1922 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space2682 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space2652 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space2782 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space2752 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space2941 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space2912 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .checkbox4 {
    margin: 0 0 8px 0;
  }
    
  .space2022 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text115 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2222 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text117 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2662 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text119 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2762 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon55 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon56 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon57 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space2922 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table122-row {
    background-color: unset;
  }
    
  .checkbox5 {
    margin: 0 0 8px 0;
  }
    
  .space2322 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text116 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2422 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text118 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2672 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text120 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space2772 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon58 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon59 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon60 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space2932 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table122-row1 {
    background-color: unset;
  }
    
  .checkbox25 {
    margin: 0 0 8px 0;
  }
    
  .space42 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text387 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space422 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text390 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space423 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text393 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space424 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon149 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon150 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon151 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space425 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table122-row2 {
    background-color: unset;
  }
    
  .checkbox26 {
    margin: 0 0 8px 0;
  }
    
  .space47 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text388 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space471 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text391 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space472 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text394 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space473 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon152 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon153 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon154 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space474 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table122-row3 {
    background-color: unset;
  }
    
  .checkbox27 {
    margin: 0 0 8px 0;
  }
    
  .space49 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text389 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space492 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text392 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space493 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text395 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space494 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon155 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon156 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon157 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space495 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table122-row4 {
    background-color: unset;
  }
    
  .table122 {
  
    width: 100%;
    height: 100%;
    background-color: unset;
    
    .column1 {
      width: 120px;
    }  
    .column2 {
      width: 110px;
    }  
    .column3 {
      width: 120px;
    }  
    .column4 {
      width: 120px;
    }  
    .column5 {
      width: 100px;
    }
  }  
  @media (max-width: 1024px) {
    .space1822 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
    }width: 100%;
    height: auto;
    flex-grow: 0;
  }
    
  @media (max-width: 480px) {
    .space1822 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
    }width: 100%;
    height: auto;
    flex-grow: 0;
  }
  
}