<table class="table Table122 table122">
  <thead>
    <th class="column1">
      <div class="space Space1822 space1822" >
        <span class="Text113 text113 text-undefined text-alignment-left text-transform-none subtitle">Subject Code</span>
      </div>
    </th>
    <th class="column2">
      <div class="space Space1922 space1922" >
        <span class="Text114 text114 text-undefined text-alignment-left text-transform-none subtitle">Name</span>
      </div>
    </th>
    <th class="column3">
      <div class="space Space2652 space2652" >
        <span class="Space2682 space2682 text-undefined text-alignment-left text-transform-none subtitle">Type</span>
      </div>
    </th>
    <th class="column4">
      <div class="space Space2752 space2752" >
        <span class="Space2782 space2782 text-undefined text-alignment-left text-transform-none subtitle">Teacher</span>
      </div>
    </th>
    <th class="column5">
      <div class="space Space2912 space2912" >
        <span class="Space2941 space2941 text-undefined text-alignment-left text-transform-none subtitle">Action</span>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="Table122_Row table122-row">  
      <td class="slot">
        <div class="space Space2022 space2022" >
          <nb-checkbox class="Checkbox4 checkbox4" status="success" uiValueUpdate="Checkbox4" [ngModel]="value">{{ label }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2222 space2222" >
          <p class="Text115 text115 text-undefined text-alignment-left text-transform-none paragraph">Anotomy</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2662 space2662" >
          <p class="Text117 text117 text-undefined text-alignment-left text-transform-none paragraph">Biology</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2762 space2762" >
          <p class="Text119 text119 text-undefined text-alignment-left text-transform-none paragraph">	 Richi Hasan</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2922 space2922" >
          <nb-icon class="Icon55 icon55" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon56 icon56" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon57 icon57" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table122_Row1 table122-row1">  
      <td class="slot">
        <div class="space Space2322 space2322" >
          <nb-checkbox class="Checkbox5 checkbox5" status="success" uiValueUpdate="Checkbox5" [ngModel]="value1">{{ label1 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2422 space2422" >
          <p class="Text116 text116 text-undefined text-alignment-left text-transform-none paragraph">Physics</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2672 space2672" >
          <p class="Text118 text118 text-undefined text-alignment-left text-transform-none paragraph">Tech</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2772 space2772" >
          <p class="Text120 text120 text-undefined text-alignment-left text-transform-none paragraph">Jennifer Fill</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2932 space2932" >
          <nb-icon class="Icon58 icon58" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon59 icon59" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon60 icon60" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table122_Row2 table122-row2">  
      <td class="slot">
        <div class="space Space42 space42" >
          <nb-checkbox class="Checkbox25 checkbox25" status="success" uiValueUpdate="Checkbox25" [ngModel]="value2">{{ label2 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space422 space422" >
          <p class="Text387 text387 text-undefined text-alignment-left text-transform-none paragraph">Math</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space423 space423" >
          <p class="Text390 text390 text-undefined text-alignment-left text-transform-none paragraph">Tech</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space424 space424" >
          <p class="Text393 text393 text-undefined text-alignment-left text-transform-none paragraph">Julie Rich</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space425 space425" >
          <nb-icon class="Icon149 icon149" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon150 icon150" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon151 icon151" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table122_Row3 table122-row3">  
      <td class="slot">
        <div class="space Space47 space47" >
          <nb-checkbox class="Checkbox26 checkbox26" status="success" uiValueUpdate="Checkbox26" [ngModel]="value3">{{ label3 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space471 space471" >
          <p class="Text388 text388 text-undefined text-alignment-left text-transform-none paragraph">Programming</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space472 space472" >
          <p class="Text391 text391 text-undefined text-alignment-left text-transform-none paragraph">Tech</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space473 space473" >
          <p class="Text394 text394 text-undefined text-alignment-left text-transform-none paragraph">Will Will</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space474 space474" >
          <nb-icon class="Icon152 icon152" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon153 icon153" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon154 icon154" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table122_Row4 table122-row4">  
      <td class="slot">
        <div class="space Space49 space49" >
          <nb-checkbox class="Checkbox27 checkbox27" status="success" uiValueUpdate="Checkbox27" [ngModel]="value4">{{ label4 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space492 space492" >
          <p class="Text389 text389 text-undefined text-alignment-left text-transform-none paragraph">Literature</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space493 space493" >
          <p class="Text392 text392 text-undefined text-alignment-left text-transform-none paragraph">Humanitarian</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space494 space494" >
          <p class="Text395 text395 text-undefined text-alignment-left text-transform-none paragraph">Mark Sude</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space495 space495" >
          <nb-icon class="Icon155 icon155" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon156 icon156" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon157 icon157" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
  </tbody>
</table>