<nb-card class="Card111 card111">
  <nb-card-body>
    <div class="space Space311 space311" >
      <div class="space Space21 space21" >
        <nb-icon class="Icon5 icon5 giant" icon="pricetags"></nb-icon>
      </div>
      <div class="space Space2111 space2111" >
        <h4 class="Heading heading text-undefined text-alignment-left text-transform-none">3000</h4>
        <span class="Text144 text144 text-undefined text-alignment-left text-transform-none subtitle-2">Due Fees</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>