<table class="table Table12112 table12112">
  <thead>
    <th class="column1">
      <div class="space Space182112 space182112" >
        <span class="Text345 text345 text-undefined text-alignment-left text-transform-none subtitle">Reg No</span>
      </div>
    </th>
    <th class="column2">
      <div class="space Space192112 space192112" >
        <span class="Text346 text346 text-undefined text-alignment-left text-transform-none subtitle">Photo</span>
      </div>
    </th>
    <th class="column3">
      <div class="space Space265112 space265112" >
        <span class="Space268112 space268112 text-undefined text-alignment-left text-transform-none subtitle">Name</span>
      </div>
    </th>
    <th class="column4">
      <div class="space Space275112 space275112" >
        <span class="Space278111 space278111 text-undefined text-alignment-left text-transform-none subtitle">Gender</span>
      </div>
    </th>
    <th class="column5">
      <div class="space Space281112 space281112" >
        <span class="Space284111 space284111 text-undefined text-alignment-left text-transform-none subtitle">Subject</span>
      </div>
    </th>
    <th class="column6">
      <div class="space Space291112 space291112" >
        <span class="Space12211 space12211 text-undefined text-alignment-left text-transform-none subtitle">Class</span>
      </div>
    </th>
    <th class="column7">
      <div class="space Space1232 space1232" >
        <span class="Space1261 space1261 text-undefined text-alignment-left text-transform-none subtitle">Section</span>
      </div>
    </th>
    <th class="column8">
      <div class="space Space3912 space3912" >
        <span class="Space3941 space3941 text-undefined text-alignment-left text-transform-none subtitle">Date of Birth</span>
      </div>
    </th>
    <th class="column9">
      <div class="space Space4012 space4012" >
        <span class="Space4041 space4041 text-undefined text-alignment-left text-transform-none subtitle">Mobile No</span>
      </div>
    </th>
    <th class="column10">
      <div class="space Space4312 space4312" >
        <span class="Space4341 space4341 text-undefined text-alignment-left text-transform-none subtitle">Email</span>
      </div>
    </th>
    <th class="column11">
      <div class="space Space4412 space4412" >
        <span class="Space2941111 space2941111 text-undefined text-alignment-left text-transform-none subtitle">Action</span>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="Table12112_Row table12112-row">  
      <td class="slot">
        <div class="space Space202112 space202112" >
          <nb-checkbox class="Checkbox20 checkbox20" status="success" uiValueUpdate="Checkbox20" [ngModel]="value">{{ label }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space222112 space222112" >
          <img class="Image26 image26" src="./assets/images/ezgif.com-gif-maker.jpg">
        </div>
      </td>  
      <td class="slot">
        <div class="space Space266112 space266112" >
          <p class="Text347 text347 text-undefined text-alignment-left text-transform-none paragraph">Will Will</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space276112 space276112" >
          <p class="Text349 text349 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space282112 space282112" >
          <p class="Text351 text351 text-undefined text-alignment-left text-transform-none paragraph">Literature</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space292112 space292112" >
          <p class="Text353 text353 text-undefined text-alignment-left text-transform-none paragraph">1</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space1242 space1242" >
          <p class="Text355 text355 text-undefined text-alignment-left text-transform-none paragraph">A</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3922 space3922" >
          <p class="Text357 text357 text-undefined text-alignment-left text-transform-none paragraph">10/03/2013</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4022 space4022" >
          <p class="Text359 text359 text-undefined text-alignment-left text-transform-none paragraph">+985049765</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4322 space4322" >
          <p class="Text361 text361 text-undefined text-alignment-left text-transform-none paragraph">Daniel@example.com</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4422 space4422" >
          <nb-icon class="Icon134 icon134" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon135 icon135" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon136 icon136" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table12112_Row1 table12112-row1">  
      <td class="slot">
        <div class="space Space232112 space232112" >
          <nb-checkbox class="Checkbox21 checkbox21" status="success" uiValueUpdate="Checkbox21" [ngModel]="value1">{{ label1 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space242112 space242112" >
          <img class="Image22 image22" src="./assets/images/ezgif.com-gif-maker (8).jpg">
        </div>
      </td>  
      <td class="slot">
        <div class="space Space267112 space267112" >
          <p class="Text348 text348 text-undefined text-alignment-left text-transform-none paragraph">Jennifer Fill</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space277112 space277112" >
          <p class="Text350 text350 text-undefined text-alignment-left text-transform-none paragraph">Female</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space283112 space283112" >
          <p class="Text352 text352 text-undefined text-alignment-left text-transform-none paragraph">Physics</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space293112 space293112" >
          <p class="Text354 text354 text-undefined text-alignment-left text-transform-none paragraph">2</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space1252 space1252" >
          <p class="Text356 text356 text-undefined text-alignment-left text-transform-none paragraph">B</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3932 space3932" >
          <p class="Text358 text358 text-undefined text-alignment-left text-transform-none paragraph">03/05/2013</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4032 space4032" >
          <p class="Text360 text360 text-undefined text-alignment-left text-transform-none paragraph">+98504934</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4332 space4332" >
          <p class="Text362 text362 text-undefined text-alignment-left text-transform-none paragraph">Jennifer@example.com</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4432 space4432" >
          <nb-icon class="Icon137 icon137" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon138 icon138" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon139 icon139" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table12112_Row2 table12112-row2">  
      <td class="slot">
        <div class="space Space35 space35" >
          <nb-checkbox class="Checkbox22 checkbox22" status="success" uiValueUpdate="Checkbox22" [ngModel]="value2">{{ label2 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space351 space351" >
          <img class="Image23 image23" src="./assets/images/ezgif.com-gif-maker (9)1.jpg">
        </div>
      </td>  
      <td class="slot">
        <div class="space Space353 space353" >
          <p class="Text363 text363 text-undefined text-alignment-left text-transform-none paragraph">Richi Hasan</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space354 space354" >
          <p class="Text366 text366 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space355 space355" >
          <p class="Text369 text369 text-undefined text-alignment-left text-transform-none paragraph">Geography</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space356 space356" >
          <p class="Text372 text372 text-undefined text-alignment-left text-transform-none paragraph">4</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space357 space357" >
          <p class="Text375 text375 text-undefined text-alignment-left text-transform-none paragraph">A</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space358 space358" >
          <p class="Text378 text378 text-undefined text-alignment-left text-transform-none paragraph">02/01/2013</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space359 space359" >
          <p class="Text381 text381 text-undefined text-alignment-left text-transform-none paragraph">+98504934</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3510 space3510" >
          <p class="Text384 text384 text-undefined text-alignment-left text-transform-none paragraph">Richi@example.com</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3513 space3513" >
          <nb-icon class="Icon140 icon140" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon141 icon141" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon142 icon142" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table12112_Row3 table12112-row3">  
      <td class="slot">
        <div class="space Space38 space38" >
          <nb-checkbox class="Checkbox23 checkbox23" status="success" uiValueUpdate="Checkbox23" [ngModel]="value3">{{ label3 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space381 space381" >
          <img class="Image24 image24" src="./assets/images/ezgif.com-gif-maker (6)5.jpg">
        </div>
      </td>  
      <td class="slot">
        <div class="space Space382 space382" >
          <p class="Text364 text364 text-undefined text-alignment-left text-transform-none paragraph">Julie Rich</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space383 space383" >
          <p class="Text367 text367 text-undefined text-alignment-left text-transform-none paragraph">Female</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space384 space384" >
          <p class="Text370 text370 text-undefined text-alignment-left text-transform-none paragraph">Math</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space385 space385" >
          <p class="Text373 text373 text-undefined text-alignment-left text-transform-none paragraph">1</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space386 space386" >
          <p class="Text376 text376 text-undefined text-alignment-left text-transform-none paragraph">B</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space387 space387" >
          <p class="Text379 text379 text-undefined text-alignment-left text-transform-none paragraph">15/05/2013</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space388 space388" >
          <p class="Text382 text382 text-undefined text-alignment-left text-transform-none paragraph">+98504934</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space389 space389" >
          <p class="Text385 text385 text-undefined text-alignment-left text-transform-none paragraph">Julie@example.com</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space3810 space3810" >
          <nb-icon class="Icon143 icon143" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon144 icon144" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon145 icon145" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
    <tr class="Table12112_Row4 table12112-row4">  
      <td class="slot">
        <div class="space Space41 space41" >
          <nb-checkbox class="Checkbox24 checkbox24" status="success" uiValueUpdate="Checkbox24" [ngModel]="value4">{{ label4 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space411 space411" >
          <img class="Image25 image25" src="./assets/images/jojo-min2.jpg">
        </div>
      </td>  
      <td class="slot">
        <div class="space Space412 space412" >
          <p class="Text365 text365 text-undefined text-alignment-left text-transform-none paragraph">Mark Sude</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space413 space413" >
          <p class="Text368 text368 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space414 space414" >
          <p class="Text371 text371 text-undefined text-alignment-left text-transform-none paragraph">English</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space415 space415" >
          <p class="Text374 text374 text-undefined text-alignment-left text-transform-none paragraph">3</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space416 space416" >
          <p class="Text377 text377 text-undefined text-alignment-left text-transform-none paragraph">C</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space417 space417" >
          <p class="Text380 text380 text-undefined text-alignment-left text-transform-none paragraph">11/05/2013</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space418 space418" >
          <p class="Text383 text383 text-undefined text-alignment-left text-transform-none paragraph">+98504934</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space419 space419" >
          <p class="Text386 text386 text-undefined text-alignment-left text-transform-none paragraph">Mark@example.com</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space4110 space4110" >
          <nb-icon class="Icon146 icon146" nbTooltip="Download" icon="download"></nb-icon>
          <nb-icon class="Icon147 icon147" nbTooltip="Settings" icon="edit-2-outline"></nb-icon>
          <nb-icon class="Icon148 icon148" nbTooltip="Sync" icon="trash-2-outline"></nb-icon>
        </div>
      </td>
    </tr>
  </tbody>
</table>