:host {

  width: 100%;
  height: auto;
  display: block;
  
  .text345 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space182112 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text346 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space192112 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space268112 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space265112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space278111 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space275112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space284111 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space281112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space291112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1261 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space1232 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space3941 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space3912 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space4041 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space4012 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space4341 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space4312 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space2941111 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space4412 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .checkbox20 {
    margin: 0;
  }
    
  .space202112 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .image26 {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    object-fit: cover;
  }
    
  .space222112 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text347 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space266112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text349 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space276112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text351 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space282112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text353 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space292112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text355 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space1242 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text357 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space3922 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text359 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space4022 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text361 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space4322 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon134 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon135 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon136 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space4422 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12112-row {
    background-color: unset;
  }
    
  .checkbox21 {
    margin: 0;
  }
    
  .space232112 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .image22 {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    object-fit: cover;
  }
    
  .space242112 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text348 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space267112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text350 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space277112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text352 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space283112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text354 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space293112 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text356 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space1252 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text358 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space3932 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text360 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space4032 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text362 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space4332 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon137 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon138 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon139 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space4432 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12112-row1 {
    background-color: unset;
  }
    
  .checkbox22 {
    margin: 0;
  }
    
  .space35 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .image23 {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    object-fit: cover;
  }
    
  .space351 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text363 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space353 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text366 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space354 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text369 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space355 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text372 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space356 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text375 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space357 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text378 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space358 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text381 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space359 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text384 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space3510 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon140 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon141 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon142 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space3513 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12112-row2 {
    background-color: unset;
  }
    
  .checkbox23 {
    margin: 0;
  }
    
  .space38 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .image24 {
    width: auto;
    height: 48px;
    border-radius: 0;
    object-fit: cover;
  }
    
  .space381 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text364 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space382 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text367 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space383 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text370 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space384 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text373 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space385 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text376 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space386 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text379 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space387 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text382 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space388 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text385 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space389 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon143 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon144 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon145 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space3810 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12112-row3 {
    background-color: unset;
  }
    
  .checkbox24 {
    margin: 0;
  }
    
  .space41 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .image25 {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    object-fit: cover;
  }
    
  .space411 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text365 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space412 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text368 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space413 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text371 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space414 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text374 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space415 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text377 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space416 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text380 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space417 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text383 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space418 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text386 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 0 0;
    color: var(--text-basic-color);
  }
    
  .space419 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon146 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-hint-color);
  }
    
  .icon147 {
    margin: 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-success-color);
  }
    
  .icon148 {
    margin: 0 0 0 4px;
    font-size: var(--icon-medium-size);
    color: var(--text-danger-color);
  }
    
  .space4110 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 4px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .table12112-row4 {
    background-color: unset;
  }
    
  .table12112 {
  
    width: 100%;
    height: 100%;
    background-color: unset;
    
    .column1 {
      width: 90px;
    }  
    .column2 {
      width: 70px;
    }  
    .column3 {
      width: 139px;
    }  
    .column4 {
      width: 90px;
    }  
    .column5 {
      width: 130px;
    }  
    .column6 {
      width: 60px;
    }  
    .column7 {
      width: 70px;
    }  
    .column8 {
      width: 130px;
    }  
    .column9 {
      width: 110px;
    }  
    .column10 {
      width: 180px;
    }  
    .column11 {
      width: 90px;
    }
  }  
  @media (max-width: 1024px) {
    width: 100%;
    height: auto;
    flex-grow: 0;
  }
    
  @media (max-width: 480px) {
    width: 100%;
    height: auto;
    flex-grow: 0;
  }
  
}