<router-outlet></router-outlet>

<div class="content">

  <span>
    {{title}} app is running!
  </span>

  <form (ngSubmit)="onSave()">
    <input type="text" [(ngModel)]="itemName" placeholder="Insert name" [ngModelOptions]="{standalone: true}" id="itemName"/>
    <button type="submit" [disabled]="!itemName" class="on-save">Save</button>
  </form>

  <ul class="items">
    <!-- <li>new item</li> -->
    <li *ngFor="let item of items; let i = index">{{item}}<button (click)="onDelete(i)">X</button></li>
  </ul>
</div>
