<nb-card class="Card2 card2">
  <nb-card-header>
    <div class="space Space14 space14" >
      <h5 class="Heading5 heading5 text-undefined text-alignment-left text-transform-none">All Exam Results</h5>
      <div class="space Space17 space17" >
        <div class="space Space45 space45" >
          <input nbInput class="Input input size-xl-small" placeholder="Search by exam" type="text" shape="rectangle" uiValueUpdate="Input" status="basic" [ngModel]="value">
          <input nbInput class="Input1 input1 size-xl-small" placeholder="Search by date" type="text" shape="rectangle" uiValueUpdate="Input1" status="basic" [ngModel]="value1">
        </div>
        <div class="space Space53 space53" >
          <nb-icon class="Icon9 icon9 large" icon="settings-2-outline"></nb-icon>
          <nb-icon class="Icon10 icon10 large" icon="sync-outline"></nb-icon>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space15 space15" >
      <app-table1></app-table1>
    </div>
  </nb-card-body>
</nb-card>