body{
    font-family:Helvetica;
    font-size:12px;

}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}


/* ���� My Form ���� */
.myform{
    margin:0% 0%;
    width:97%;
    padding:14px;
}
.popupForm{
    width: 93%; 
    padding: 14px;
}
/* ���� stylized ���� */
#stylized{
    border:solid 2px crimson; 
    background: -webkit-linear-gradient(white, white);
    background: -moz-linear-gradient(white, white);
    background: -o-linear-gradient(white, white);
    background: linear-gradient(white, white); 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#stylized h1 {
    margin-top: 20px;
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
#stylized p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px crimson;
    padding-bottom:10px;
}
#stylized label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}
#stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
#stylized input{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px lightpink;
    width:200px;
    margin:2px 0 20px 10px;
}

#stylized textarea{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px lightpink;
    width:200px;
    margin:2px 0 20px 10px;
}

#stylized select{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px lightpink;
    width:200px;
    margin:2px 0 20px 10px;
}

#stylized input[type=radio]{

    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px lightpink;
    width:20px;
    margin:2px 0 10px 10px;
}


#stylized button{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background:#DC143C url(../img/icons/guardar.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    border-radius: 15px;
}

#stylized button:hover{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background:#fa8072 url(../img/icons/guardar.png) no-repeat;
    text-align:center;
    line-height:31px;
    color: crimson;
    font-size:11px;
    font-weight:bold;
    border-radius: 15px;
    cursor: pointer;
}