<nb-card class="Card1211 card1211">
  <nb-card-header>
    <div class="space Space5111 space5111" >
      <h6 class="Heading31 heading31 text-undefined text-alignment-left text-transform-none">Home Work</h6>
      <div class="space Space251 space251" >
        <nb-icon class="Icon97 icon97" icon="link-2"></nb-icon>
        <nb-icon class="Icon98 icon98" icon="close-outline"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space6111 space6111" >
      <div class="space Space142412 space142412" >
        <div class="space Space342 space342" >
          <nb-checkbox class="Checkbox11 checkbox11" status="success" uiValueUpdate="Checkbox11" [ngModel]="value">{{ label }}</nb-checkbox>
          <nb-icon class="Icon99 icon99" icon="trash-2"></nb-icon>
        </div>
        <div class="space Space3412 space3412" >
          <nb-checkbox class="Checkbox12 checkbox12" status="success" uiValueUpdate="Checkbox12" [ngModel]="value1">{{ label1 }}</nb-checkbox>
          <nb-icon class="Icon100 icon100" icon="trash-2"></nb-icon>
        </div>
        <div class="space Space34111 space34111" >
          <nb-checkbox class="Checkbox13 checkbox13" status="success" uiValueUpdate="Checkbox13" [ngModel]="value2">{{ label2 }}</nb-checkbox>
          <nb-icon class="Icon101 icon101" icon="trash-2"></nb-icon>
        </div>
      </div>
      <div class="space Space1424111 space1424111" >
        <input nbInput class="Input32 input32 size-xl-medium" placeholder="Write new item and hit &quot;Enter&quot;" type="text" shape="rectangle" uiValueUpdate="Input32" status="basic" [ngModel]="value3">
      </div>
    </div>
  </nb-card-body>
</nb-card>