<nb-card class="Card22111 card22111">
  <nb-card-header>
    <div class="space Space144111 space144111" >
      <div class="space Space173111 space173111" >
        <h6 class="Heading21 heading21 text-undefined text-alignment-left text-transform-none">All Teachers</h6>
      </div>
      <div class="space Space1712111 space1712111" >
        <nb-icon class="Icon64 icon64" nbTooltip="Print Attendance Sheet" icon="printer-outline"></nb-icon>
        <nb-icon class="Icon61 icon61" nbTooltip="Download" icon="download"></nb-icon>
        <nb-icon class="Icon62 icon62" nbTooltip="Settings" icon="settings-2-outline"></nb-icon>
        <nb-icon class="Icon63 icon63" nbTooltip="Sync" icon="sync-outline"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space152111 space152111" >
      <app-table12111></app-table12111>
    </div>
  </nb-card-body>
</nb-card>