:host {

  width: 100%;
  height: auto;
  margin: 8px 0;
  display: block;
  
  .heading351 {
    font-size: 18px;
    line-height: initial;
    margin: 0;
    color: var(--text-basic-color);
  }
    
  .space521 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .image181 {
    width: 120px;
    height: 120px;
    border-radius: 50px;
    object-fit: fill;
  }
    
  .space921 {
    height: auto;
    min-height: 2rem;
    width: 58.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon8111 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text14721 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space9111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon8521 {
    margin: 0 4px 0 0;
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text14821 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space5422 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon8621 {
    margin: 0;
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text14921 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space5521 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .icon8721 {
    font-size: var(--icon-medium-size);
    color: var(--text-basic-color);
  }
    
  .text15021 {
    font-size: 13px;
    line-height: initial;
    margin: 0 0 0 8px;
    color: var(--text-basic-color);
  }
    
  .space5611 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space821 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .heading451 {
    font-size: 18px;
    line-height: initial;
    margin: 0 0 16px 0;
    color: var(--text-basic-color);
  }
    
  .text3111 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space388111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text32111 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3817111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221117111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text33111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3822111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text34111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38112111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211112111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text35111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3832111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text36111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38122111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211122111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text37111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3842111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text38111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38132111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211132111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text39111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3852111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4081 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38142111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211142111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4121 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3868111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4221 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38158111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211158111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4321 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38612111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4421 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381512111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4721 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38622111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4821 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381522111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4921 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38632111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text5021 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381532111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text5121 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38642111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text5221 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381542111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text5321 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38652111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text5421 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381552111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text5521 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space38663111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text5621 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space381563111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111563111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111552111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111542111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111532111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111522111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111512111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4521 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space386612111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4621 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
    color: var(--text-basic-color);
  }
    
  .space3815612111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221115612111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space10212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space8111 {
    height: auto;
    min-height: 2rem;
    width: 66.66666666666667%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space711 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space621 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .card131 {
    width: 100%;
    height: 100%;
    margin: 8px 0;
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  @media (max-width: 1024px) {
    .image181 {
      width: 120px;
      height: 120px;
    }
    
    .icon8111 {
      margin: 0 4px 0 0;
    }
    
    .space5521 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      align-items: flex-start;
      align-content: flex-start;
    }
    
    .text15021 {
      margin: 0 0 0 8px;
    }
    
    .space5611 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      align-items: flex-start;
      align-content: flex-start;
      padding: 8px 8px 8px 0;
    }
    
    .space821 {
      height: auto;
      min-height: 2rem;
      width: 33.333333333333336%;
    }
    
    .text4621 {
      margin: 8px 8px 8px 0;
    }
    
    .space3815612111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
    }
    
    .space8111 {
      height: auto;
      min-height: 2rem;
      width: 66.66666666666667%;
      margin: 0;
    }
  }
    
  @media (max-width: 768px) {
    .image181 {
      width: 80px;
      height: 80px;
    }
    
    .space921 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space5611 {
      margin: 0 0 16px 0;
    }
    
    .space821 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space8111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }width: 100%;
    height: auto;
    margin: 8px 0;
    flex-grow: 0;
  }
    
  @media (max-width: 480px) {
    .image181 {
      width: 80px;
      height: 80px;
    }
    
    .space821 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      margin: 0 0 16px 0;
    }
    
    .space8111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
    
  @media (max-width: 320px) {
    .image181 {
      width: 80px;
      height: 80px;
    }
    
    .space921 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space5611 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      margin: 0 0 16px 0;
    }
    
    .space821 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space3815612111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      flex-direction: column;
      padding: 0 0 0 8px;
    }
    
    .space1221115612111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space8111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
  
}