<nb-card class="Card131 card131">
  <nb-card-header>
    <div class="space Space521 space521" >
      <h6 class="Heading351 heading351 text-undefined text-alignment-left text-transform-none">My Information</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space621 space621" >
      <div class="space Space711 space711" >
        <div class="space Space821 space821" >
          <div class="space Space921 space921" >
            <img class="Image181 image181" src="./assets/images/ezgif.com-gif-maker (6)3.jpg">
          </div>
          <div class="space Space9111 space9111" >
            <nb-icon class="Icon8111 icon8111" icon="edit"></nb-icon>
            <span class="Text14721 text14721 text-undefined text-alignment-left text-transform-none subtitle-2">Edit </span>
          </div>
          <div class="space Space5422 space5422" >
            <nb-icon class="Icon8521 icon8521" icon="printer-outline"></nb-icon>
            <span class="Text14821 text14821 text-undefined text-alignment-left text-transform-none subtitle-2">Print</span>
          </div>
          <div class="space Space5521 space5521" >
            <nb-icon class="Icon8621 icon8621" icon="download"></nb-icon>
            <span class="Text14921 text14921 text-undefined text-alignment-left text-transform-none subtitle-2">Download</span>
          </div>
          <div class="space Space5611 space5611" >
            <nb-icon class="Icon8721 icon8721" icon="share"></nb-icon>
            <span class="Text15021 text15021 text-undefined text-alignment-left text-transform-none subtitle-2">Share</span>
          </div>
        </div>
        <div class="space Space8111 space8111" >
          <h6 class="Heading451 heading451 text-undefined text-alignment-left text-transform-none">Mr. Ajay</h6>
          <div class="space Space10212111 space10212111" >
            <div class="space Space1221117111 space1221117111" >
              <div class="space Space388111 space388111" >
                <p class="Text3111 text3111 text-undefined text-alignment-left text-transform-none paragraph">Name:</p>
              </div>
              <div class="space Space3817111 space3817111" >
                <p class="Text32111 text32111 text-undefined text-alignment-left text-transform-none paragraph">Ajay</p>
              </div>
            </div>
            <div class="space Space12211112111 space12211112111" >
              <div class="space Space3822111 space3822111" >
                <p class="Text33111 text33111 text-undefined text-alignment-left text-transform-none paragraph">Class:</p>
              </div>
              <div class="space Space38112111 space38112111" >
                <p class="Text34111 text34111 text-undefined text-alignment-left text-transform-none paragraph">6</p>
              </div>
            </div>
            <div class="space Space12211122111 space12211122111" >
              <div class="space Space3832111 space3832111" >
                <p class="Text35111 text35111 text-undefined text-alignment-left text-transform-none paragraph">Section:</p>
              </div>
              <div class="space Space38122111 space38122111" >
                <p class="Text36111 text36111 text-undefined text-alignment-left text-transform-none paragraph">A</p>
              </div>
            </div>
            <div class="space Space12211132111 space12211132111" >
              <div class="space Space3842111 space3842111" >
                <p class="Text37111 text37111 text-undefined text-alignment-left text-transform-none paragraph">Roll:</p>
              </div>
              <div class="space Space38132111 space38132111" >
                <p class="Text38111 text38111 text-undefined text-alignment-left text-transform-none paragraph">9905</p>
              </div>
            </div>
            <div class="space Space12211142111 space12211142111" >
              <div class="space Space3852111 space3852111" >
                <p class="Text39111 text39111 text-undefined text-alignment-left text-transform-none paragraph">Gender:</p>
              </div>
              <div class="space Space38142111 space38142111" >
                <p class="Text4081 text4081 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
              </div>
            </div>
            <div class="space Space12211158111 space12211158111" >
              <div class="space Space3868111 space3868111" >
                <p class="Text4121 text4121 text-undefined text-alignment-left text-transform-none paragraph">Father Name:</p>
              </div>
              <div class="space Space38158111 space38158111" >
                <p class="Text4221 text4221 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
            </div>
            <div class="space Space122111512111 space122111512111" >
              <div class="space Space38612111 space38612111" >
                <p class="Text4321 text4321 text-undefined text-alignment-left text-transform-none paragraph">Mother Name:</p>
              </div>
              <div class="space Space381512111 space381512111" >
                <p class="Text4421 text4421 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
              <div class="space Space122111522111 space122111522111" >
                <div class="space Space38622111 space38622111" >
                  <p class="Text4721 text4721 text-undefined text-alignment-left text-transform-none paragraph">Date of Birth:</p>
                </div>
                <div class="space Space381522111 space381522111" >
                  <p class="Text4821 text4821 text-undefined text-alignment-left text-transform-none paragraph">January 31, 1990</p>
                </div>
                <div class="space Space122111532111 space122111532111" >
                  <div class="space Space38632111 space38632111" >
                    <p class="Text4921 text4921 text-undefined text-alignment-left text-transform-none paragraph">Father Occupation:</p>
                  </div>
                  <div class="space Space381532111 space381532111" >
                    <p class="Text5021 text5021 text-undefined text-alignment-left text-transform-none paragraph">Banker</p>
                  </div>
                  <div class="space Space122111542111 space122111542111" >
                    <div class="space Space38642111 space38642111" >
                      <p class="Text5121 text5121 text-undefined text-alignment-left text-transform-none paragraph">Religion:</p>
                    </div>
                    <div class="space Space381542111 space381542111" >
                      <p class="Text5221 text5221 text-undefined text-alignment-left text-transform-none paragraph">---</p>
                    </div>
                    <div class="space Space122111552111 space122111552111" >
                      <div class="space Space38652111 space38652111" >
                        <p class="Text5321 text5321 text-undefined text-alignment-left text-transform-none paragraph">Email:</p>
                      </div>
                      <div class="space Space381552111 space381552111" >
                        <p class="Text5421 text5421 text-undefined text-alignment-left text-transform-none paragraph">Support@example.com</p>
                      </div>
                      <div class="space Space122111563111 space122111563111" >
                        <div class="space Space38663111 space38663111" >
                          <p class="Text5521 text5521 text-undefined text-alignment-left text-transform-none paragraph">Admission Date:</p>
                        </div>
                        <div class="space Space381563111 space381563111" >
                          <p class="Text5621 text5621 text-undefined text-alignment-left text-transform-none paragraph">0/04/2017</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space Space1221115612111 space1221115612111" >
              <div class="space Space386612111 space386612111" >
                <p class="Text4521 text4521 text-undefined text-alignment-left text-transform-none paragraph">Address:</p>
              </div>
              <div class="space Space3815612111 space3815612111" >
                <p class="Text4621 text4621 text-undefined text-alignment-left text-transform-none paragraph">House#3,Road#34,Canada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>