<table class="table Table111 table111">
  <thead>
    <th class="column1">
      <div class="space Space1811 space1811" >
        <span class="Text166 text166 text-undefined text-alignment-left text-transform-none subtitle">Name</span>
      </div>
    </th>
    <th class="column2">
      <div class="space Space1911 space1911" >
        <span class="Text167 text167 text-undefined text-alignment-left text-transform-none subtitle">Status</span>
      </div>
    </th>
    <th class="column3">
      <div class="space Space2611 space2611" >
        <span class="Space2641 space2641 text-undefined text-alignment-left text-transform-none subtitle">Date</span>
      </div>
    </th>
    <th class="column4">
      <div class="space Space2711 space2711" >
        <span class="Space2741 space2741 text-undefined text-alignment-left text-transform-none subtitle">Price</span>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="Table111_Row table111-row">  
      <td class="slot">
        <div class="space Space2011 space2011" >
          <p class="Text168 text168 text-undefined text-alignment-left text-transform-none paragraph">Kolor Tea Shirt For Man</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2211 space2211" >
          <div class="space Space352 space352" >
            <span class="Text174 text174 text-undefined text-alignment-left text-transform-none caption">ONGOING</span>
          </div>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2621 space2621" >
          <p class="Text170 text170 text-undefined text-alignment-left text-transform-none paragraph">Jan 22</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2721 space2721" >
          <p class="Text172 text172 text-undefined text-alignment-left text-transform-none paragraph">$21.56</p>
        </div>
      </td>
    </tr>
    <tr class="Table111_Row1 table111-row1">  
      <td class="slot">
        <div class="space Space2311 space2311" >
          <p class="Text169 text169 text-undefined text-alignment-left text-transform-none paragraph">Blue Backpack For Baby</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2411 space2411" >
          <div class="space Space3512 space3512" >
            <span class="Text175 text175 text-undefined text-alignment-left text-transform-none caption">COMPLETE</span>
          </div>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2631 space2631" >
          <p class="Text171 text171 text-undefined text-alignment-left text-transform-none paragraph">Jan 30</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space2731 space2731" >
          <p class="Text173 text173 text-undefined text-alignment-left text-transform-none paragraph">$55.32</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>