<nb-card class="Card1112 card1112">
  <nb-card-body>
    <div class="space Space3112 space3112" >
      <div class="space Space213 space213" >
        <nb-icon class="Icon7 icon7 giant" icon="file-text"></nb-icon>
      </div>
      <div class="space Space21112 space21112" >
        <h4 class="Heading2 heading2 text-undefined text-alignment-left text-transform-none">3000</h4>
        <span class="Text146 text146 text-undefined text-alignment-left text-transform-none subtitle-2">Documents</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>