<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActividadController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.ActividadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlmacenController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.AlmacenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleAlmacenController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.DetalleAlmacenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilialController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.FilialController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstitucionController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.InstitucionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeriodoController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.PeriodoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.PersonaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresupuestoController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.PresupuestoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.RolController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioRolController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.UsuarioRolController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedeController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.SedeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CampaniaController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.CampaniaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeriodoAnualController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.PeriodoAnualController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresupuestoAnualController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.PresupuestoAnualController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleActividadController</servlet-name>
        <servlet-class>upeu.edu.pe.cepre.web.DetalleActividadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActividadController</servlet-name>
        <url-pattern>/ActividadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlmacenController</servlet-name>
        <url-pattern>/AlmacenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleAlmacenController</servlet-name>
        <url-pattern>/DetalleAlmacenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilialController</servlet-name>
        <url-pattern>/FilialController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstitucionController</servlet-name>
        <url-pattern>/InstitucionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeriodoController</servlet-name>
        <url-pattern>/PeriodoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaController</servlet-name>
        <url-pattern>/PersonaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresupuestoController</servlet-name>
        <url-pattern>/PresupuestoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/ProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolController</servlet-name>
        <url-pattern>/RolController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioRolController</servlet-name>
        <url-pattern>/UsuarioRolController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedeController</servlet-name>
        <url-pattern>/SedeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CampaniaController</servlet-name>
        <url-pattern>/CampaniaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeriodoAnualController</servlet-name>
        <url-pattern>/PeriodoAnualController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresupuestoAnualController</servlet-name>
        <url-pattern>/PresupuestoAnualController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleActividadController</servlet-name>
        <url-pattern>/DetalleActividadController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
