<nb-card class="Card13 card13">
  <nb-card-header>
    <div class="space Space52 space52" >
      <h6 class="Heading35 heading35 text-undefined text-alignment-left text-transform-none">My Information</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space62 space62" >
      <div class="space Space71 space71" >
        <div class="space Space82 space82" >
          <div class="space Space92 space92" >
            <img class="Image18 image18" src="./assets/images/ezgif.com-gif-maker (6)2.jpg">
          </div>
          <div class="space Space911 space911" >
            <nb-icon class="Icon811 icon811" icon="edit"></nb-icon>
            <span class="Text1472 text1472 text-undefined text-alignment-left text-transform-none subtitle-2">Edit </span>
          </div>
          <div class="space Space542 space542" >
            <nb-icon class="Icon852 icon852" icon="printer-outline"></nb-icon>
            <span class="Text1482 text1482 text-undefined text-alignment-left text-transform-none subtitle-2">Print</span>
          </div>
          <div class="space Space552 space552" >
            <nb-icon class="Icon862 icon862" icon="download"></nb-icon>
            <span class="Text1492 text1492 text-undefined text-alignment-left text-transform-none subtitle-2">Download</span>
          </div>
          <div class="space Space561 space561" >
            <nb-icon class="Icon872 icon872" icon="share"></nb-icon>
            <span class="Text1502 text1502 text-undefined text-alignment-left text-transform-none subtitle-2">Share</span>
          </div>
        </div>
        <div class="space Space811 space811" >
          <h6 class="Heading45 heading45 text-undefined text-alignment-left text-transform-none">Mr. Ajay</h6>
          <div class="space Space1021211 space1021211" >
            <div class="space Space122111711 space122111711" >
              <div class="space Space38811 space38811" >
                <p class="Text311 text311 text-undefined text-alignment-left text-transform-none paragraph">Name:</p>
              </div>
              <div class="space Space381711 space381711" >
                <p class="Text3211 text3211 text-undefined text-alignment-left text-transform-none paragraph">Ajay</p>
              </div>
            </div>
            <div class="space Space1221111211 space1221111211" >
              <div class="space Space382211 space382211" >
                <p class="Text3311 text3311 text-undefined text-alignment-left text-transform-none paragraph">Class:</p>
              </div>
              <div class="space Space3811211 space3811211" >
                <p class="Text3411 text3411 text-undefined text-alignment-left text-transform-none paragraph">6</p>
              </div>
            </div>
            <div class="space Space1221112211 space1221112211" >
              <div class="space Space383211 space383211" >
                <p class="Text3511 text3511 text-undefined text-alignment-left text-transform-none paragraph">Section:</p>
              </div>
              <div class="space Space3812211 space3812211" >
                <p class="Text3611 text3611 text-undefined text-alignment-left text-transform-none paragraph">A</p>
              </div>
            </div>
            <div class="space Space1221113211 space1221113211" >
              <div class="space Space384211 space384211" >
                <p class="Text3711 text3711 text-undefined text-alignment-left text-transform-none paragraph">Roll:</p>
              </div>
              <div class="space Space3813211 space3813211" >
                <p class="Text3811 text3811 text-undefined text-alignment-left text-transform-none paragraph">9905</p>
              </div>
            </div>
            <div class="space Space1221114211 space1221114211" >
              <div class="space Space385211 space385211" >
                <p class="Text3911 text3911 text-undefined text-alignment-left text-transform-none paragraph">Gender:</p>
              </div>
              <div class="space Space3814211 space3814211" >
                <p class="Text408 text408 text-undefined text-alignment-left text-transform-none paragraph">Male</p>
              </div>
            </div>
            <div class="space Space1221115811 space1221115811" >
              <div class="space Space386811 space386811" >
                <p class="Text412 text412 text-undefined text-alignment-left text-transform-none paragraph">Father Name:</p>
              </div>
              <div class="space Space3815811 space3815811" >
                <p class="Text422 text422 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
            </div>
            <div class="space Space12211151211 space12211151211" >
              <div class="space Space3861211 space3861211" >
                <p class="Text432 text432 text-undefined text-alignment-left text-transform-none paragraph">Mother Name:</p>
              </div>
              <div class="space Space38151211 space38151211" >
                <p class="Text442 text442 text-undefined text-alignment-left text-transform-none paragraph">---</p>
              </div>
              <div class="space Space12211152211 space12211152211" >
                <div class="space Space3862211 space3862211" >
                  <p class="Text472 text472 text-undefined text-alignment-left text-transform-none paragraph">Date of Birth:</p>
                </div>
                <div class="space Space38152211 space38152211" >
                  <p class="Text482 text482 text-undefined text-alignment-left text-transform-none paragraph">January 31, 1990</p>
                </div>
                <div class="space Space12211153211 space12211153211" >
                  <div class="space Space3863211 space3863211" >
                    <p class="Text492 text492 text-undefined text-alignment-left text-transform-none paragraph">Father Occupation:</p>
                  </div>
                  <div class="space Space38153211 space38153211" >
                    <p class="Text502 text502 text-undefined text-alignment-left text-transform-none paragraph">Banker</p>
                  </div>
                  <div class="space Space12211154211 space12211154211" >
                    <div class="space Space3864211 space3864211" >
                      <p class="Text512 text512 text-undefined text-alignment-left text-transform-none paragraph">Religion:</p>
                    </div>
                    <div class="space Space38154211 space38154211" >
                      <p class="Text522 text522 text-undefined text-alignment-left text-transform-none paragraph">---</p>
                    </div>
                    <div class="space Space12211155211 space12211155211" >
                      <div class="space Space3865211 space3865211" >
                        <p class="Text532 text532 text-undefined text-alignment-left text-transform-none paragraph">Email:</p>
                      </div>
                      <div class="space Space38155211 space38155211" >
                        <p class="Text542 text542 text-undefined text-alignment-left text-transform-none paragraph">Support@example.com</p>
                      </div>
                      <div class="space Space12211156311 space12211156311" >
                        <div class="space Space3866311 space3866311" >
                          <p class="Text552 text552 text-undefined text-alignment-left text-transform-none paragraph">Admission Date:</p>
                        </div>
                        <div class="space Space38156311 space38156311" >
                          <p class="Text562 text562 text-undefined text-alignment-left text-transform-none paragraph">0/04/2017</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space Space122111561211 space122111561211" >
              <div class="space Space38661211 space38661211" >
                <p class="Text452 text452 text-undefined text-alignment-left text-transform-none paragraph">Address:</p>
              </div>
              <div class="space Space381561211 space381561211" >
                <p class="Text462 text462 text-undefined text-alignment-left text-transform-none paragraph">House#3,Road#34,Canada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>