<nb-card class="Card2111 card2111">
  <nb-card-header>
    <div class="space Space14121 space14121" >
      <div class="space Space17211 space17211" >
        <h6 class="Heading30 heading30 text-undefined text-alignment-left text-transform-none">Homework</h6>
      </div>
      <div class="space Space171111 space171111" >
        <nb-icon class="Icon91 icon91" icon="link-2"></nb-icon>
        <nb-icon class="Icon92 icon92" icon="close-outline"></nb-icon>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space15111 space15111" >
      <div class="space Space14252111 space14252111" >
        <div class="space Space37 space37" >
          <nb-checkbox class="Checkbox7 checkbox7" status="success" uiValueUpdate="Checkbox7" [ngModel]="value">{{ label }}</nb-checkbox>
          <nb-icon class="Icon93 icon93" icon="trash-2-outline"></nb-icon>
        </div>
        <div class="space Space371 space371" >
          <nb-checkbox class="Checkbox8 checkbox8" status="success" uiValueUpdate="Checkbox8" [ngModel]="value1">{{ label1 }}</nb-checkbox>
          <nb-icon class="Icon94 icon94" icon="trash-2-outline"></nb-icon>
        </div>
        <div class="space Space3711 space3711" >
          <nb-checkbox class="Checkbox9 checkbox9" status="success" uiValueUpdate="Checkbox9" [ngModel]="value2">{{ label2 }}</nb-checkbox>
          <nb-icon class="Icon95 icon95" icon="trash-2-outline"></nb-icon>
        </div>
        <div class="space Space37111 space37111" >
          <nb-checkbox class="Checkbox10 checkbox10" status="success" uiValueUpdate="Checkbox10" [ngModel]="value3">{{ label3 }}</nb-checkbox>
          <nb-icon class="Icon96 icon96" icon="trash-2-outline"></nb-icon>
        </div>
      </div>
      <div class="space Space1425211 space1425211" >
        <input nbInput class="Input31 input31 size-xl-medium" placeholder="Write new item and hit &quot;Enter&quot;" type="text" shape="rectangle" uiValueUpdate="Input31" status="basic" [ngModel]="value4">
      </div>
    </div>
  </nb-card-body>
</nb-card>