<div class="space Space612211 space612211" >
  <div class="space Space3112211 space3112211" >
    <img class="Image7 image7" src="./assets/images/Logo horizontal splash white@2x.svg">
  </div>
  <div class="space Space2112111 space2112111" >
    <div class="space Space5112211 space5112211" >
      <h5 class="Heading24 heading24 text-undefined text-alignment-left text-transform-none">Sign Up</h5>
      <p class="Text134 text134 text-undefined text-alignment-left text-transform-none paragraph">Get access for free.</p>
      <div class="space Space71111 space71111" >
        <button nbButton class="Button12 button12 size-xl-medium" appearance="outline" status="primary">
          <nb-icon class="icon btn-icon" icon="google"></nb-icon>
          <span>Sign up with google</span>
        </button>
        <button nbButton class="Button13 button13 size-xl-medium" appearance="outline" status="primary">
          <nb-icon class="icon btn-icon" icon="facebook"></nb-icon>
          <span>Sign up with facebook</span>
        </button>
        <button nbButton class="Button18 button18 size-xl-medium" appearance="outline" status="primary">
          <nb-icon class="icon btn-icon" icon="linkedin"></nb-icon>
          <span>Sign up with facebook</span>
        </button>
      </div>
      <div class="space Space911111 space911111" >
        <p class="Text136 text136 text-undefined text-alignment-left text-transform-none paragraph">or</p>
      </div>
      <label class="Text131 text131 text-undefined text-alignment-left text-transform-none label">Full name</label>
      <input nbInput class="Input24 input24 size-xl-medium" placeholder="Your full name" type="text" shape="rectangle" uiValueUpdate="Input24" status="basic" [ngModel]="value">
      <label class="Text132 text132 text-undefined text-alignment-left text-transform-none label">Email</label>
      <input nbInput class="Input25 input25 size-xl-medium" placeholder="Your email" type="email" shape="rectangle" uiValueUpdate="Input25" status="basic" [ngModel]="value1">
      <label class="Text133 text133 text-undefined text-alignment-left text-transform-none label">Password</label>
      <input nbInput class="Input26 input26 size-xl-medium" placeholder="Your password" type="password" shape="rectangle" uiValueUpdate="Input26" status="basic" [ngModel]="value2">
      <nb-checkbox class="Checkbox6 checkbox6" status="primary" uiValueUpdate="Checkbox6" [ngModel]="value3">{{ label }}</nb-checkbox>
      <div class="space Space4112211 space4112211" >
        <button nbButton class="Button11 button11 size-xl-medium" appearance="filled" status="primary">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Sign Up</span>
        </button>
        <p class="Text135 text135 text-undefined text-alignment-left text-transform-none paragraph">Already have an account?</p>
        <a [routerLink]="url" class="Link link text-undefined text-alignment-left text-transform-none text-decoration-underline">Log in</a>
      </div>
    </div>
  </div>
</div>