<nb-card class="Card112 card112">
  <nb-card-body>
    <div class="space Space312 space312" >
      <div class="space Space30 space30" >
        <nb-icon class="Icon22 icon22 giant" icon="award"></nb-icon>
      </div>
      <div class="space Space3014 space3014" >
        
      </div>
      <div class="space Space301 space301" >
        <h4 class="Heading7 heading7 text-undefined text-alignment-left text-transform-none">98</h4>
        <p class="Text27 text27 text-undefined text-alignment-left text-transform-none paragraph">Total score</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>